section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Какой уровень языка я&nbsp;получу?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Курс охватывает уровни от&nbsp;начального (А1) до&nbsp;базового уверенного владения (B1), в&nbsp;зависимости от&nbsp;ваших стартовых знаний.
			details.faq__item
				summary.text.text_mid.faq__summary-title Где и&nbsp;когда проходят занятия?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Занятия проходят очно в&nbsp;Нижнем Новгороде, в&nbsp;НГЛУ им. Н.&nbsp;А.&nbsp;Добролюбова, 2&nbsp;раза в&nbsp;неделю в&nbsp;удобное для вас время.
			details.faq__item
				summary.text.text_mid.faq__summary-title Выдает&nbsp;ли универститет документ об&nbsp;окончании курса?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, после успешной аттестации вы&nbsp;получите сертификат установленного образца от&nbsp;НГЛУ.
