section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text <b>60&nbsp;академических часов очных занятий по&nbsp;русскому языку</b> с&nbsp;преподавателями нижегородского государственного лингвистического университета&nbsp;им. Н.&nbsp;А.&nbsp;Добролюбова. Формируем небольшие группы для максимальной эффективности.
