section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Обучение русскому языку
		.service-intro__text-wrapper
			p.text.service-intro__text
				b Освойте русский язык для жизни, работы и&nbsp;бизнеса в&nbsp;России с&nbsp;сертификатом госуниверситета!
			p.text.service-intro__text Курс русского языка как иностранного, разработанный для быстрой социальной и&nbsp;языковой адаптации. По&nbsp;окончании выдается сертификат установленного образца от&nbsp;одного из&nbsp;ведущих лингвистических университетов России.
