section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-10-icon_1.svg` width="40" height="40" alt="Часы — адаптация для переехавших иностранцев")
							p.text.difficulties__text Для взрослых иностранцев, недавно переехавших в&nbsp;Россию.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-10-icon_2.svg` width="40" height="40" alt="Карандаш — изучение русского языка")
							p.text.difficulties__text Для иностранных граждан, кому русский язык нужен для работы, бизнеса или повседневного общения.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-10-icon_3.svg` width="40" height="40" alt="Речь — уверенное общение на русском языке")
							p.text.difficulties__text Для всех иностранцев, кто хочет уверенно чувствовать себя в&nbsp;новой языковой среде.
