section.section.cases-cta.animation(data-aos)
	.cases-cta__bg
		img.cases-cta__img(src=`${baseDirImg}/cases/cases-cta.webp` srcset=`${baseDirImg}/cases/cases-cta@2x.webp 2x` width="1918" height="628" alt="" aria-hidden="true")
	.wrapper.animation__wrapper
		.cases-cta__inner
			.cases-cta__content
				h2.title-h2.cases-cta__title Получить консультацию
				p.text.cases-cta__subtitle.cases-cta__subtitle_second Оставьте заявку для бесплатной предварительной консультации, и&nbsp;мы&nbsp;поможем вам сделать первый шаг к&nbsp;легальному проживанию в&nbsp;РФ
				a.btn.btn_white-second.cases-cta__btn(href=`${langPrefix}/request-form/`)
					span Заполнить заявку
				p.text.text_sm.cases-cta__note Гарантируем вам 100% конфиденциальности личных данных
			.cases-cta__bubble
				p.text.cases-cta__bubble-text Подача заявки <b>займёт всего пару минут.</b>
