section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Кто может претендовать на&nbsp;РВП?
		.service-intro__text-wrapper
			p.text.service-intro__text Законодательством предусмотрены <b>три основные категории:</b>
			ul.service-intro__list
				li.service-intro__list-item граждане из&nbsp;стран, которые попадают под перечень из&nbsp;указа &#8470;&nbsp;702 Президента РФ&nbsp;&laquo;Об&nbsp;оказании гуманитарной поддержки лицам, разделяющим традиционные российские духовно-нравственные ценности&raquo;
				li.service-intro__list-item получение в&nbsp;рамках правительственной квоты
				li.service-intro__list-item вне квоты&nbsp;&mdash; для лиц, имеющих особые основания (брак с&nbsp;гражданином&nbsp;РФ, российские корни, рождение на&nbsp;территории РСФСР, инвестиционная деятельность и&nbsp;другие).
