section.section.service-intro.animation(data-aos)
    .wrapper.animation__wrapper
        .section__header.service-intro__header
            h2.title-h2 Оформление разрешения на&nbsp;временное проживание (РВП) в&nbsp;РФ
        .service-intro__text-wrapper
            p.text.service-intro__text <b>РВП</b>&nbsp;&mdash; ключевой этап на&nbsp;пути к&nbsp;легализации в&nbsp;России. Этот документ предоставляет иностранному гражданину право проживать и&nbsp;работать на&nbsp;территории&nbsp;РФ на&nbsp;срок до&nbsp;3&nbsp;лет, являясь фундаментом для последующего получения вида на&nbsp;жительство и&nbsp;гражданства.
