.ai-helper
	.ai-helper__card
		p.text.text_green.text_mid-1.ai-helper__title AI-помощник
		img.ai-helper__img(width="182" height="182" src=`${baseDirImg}ai-helper.webp` srcset=`${baseDirImg}ai-helper@2x.webp 2x` alt="AI-помощник")
		a.btn.btn_green.ai-helper__btn(href="https://t.me/OKA_Agency_bot" target="_blank" rel="noopener noreferrer")
			span Написать в чат
