.breadcrumbs
	.wrapper
		ul.breadcrumbs__list.promo-detail__breadcrumbs
			li.breadcrumbs__item
				a.text.text_medium-2.breadcrumbs__link(href="/products/solar_appscreener/") Solar appScreener
			li.breadcrumbs__item
				a.text.text_medium-2.breadcrumbs__link(href="/products/solar_appscreener/materials/") Материалы
			li.breadcrumbs__item
				span.text.text_medium-2.breadcrumbs__link.breadcrumbs__link_last 5 шагов, которые позволят сэкономить на устранении уязвимостей до релиза ПО
