section.section.faq
	.wrapper.faq__wrapper
		p.title-h1.section__title-h1(role="heading" aria-level="2") Ключевые преимущества
		.faq__list
			details.faq__item
				summary.faq__summary-title Высокая производительность
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Высокая скорость контентного анализа – до 1,5 Тб в сутки ‒ и скорость выполнения запросов при построении отчетов позволяют работать с большим объемом данных и контролировать действия большого количества сотрудников организации.
			details.faq__item
				summary.faq__summary-title Аналитика и скорость решений
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Потоковая интеграция данных от различных типов источников обеспечивает непрерывную актуализацию модели в режиме реального времени, предоставляя оперативную и достоверную аналитику и помогая в принятии решений.
			details.faq__item
				summary.faq__summary-title Экспертиза продуктовой команды
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Собственный центр экспертизы разработки и внедрения решений по управлению доступом. Лучшие практики, передовые и апробированные технологии.
