nav.wrapper.page-header__nav.main-nav
	form.page-header__search.page-header__search_mobile.main-nav__search.js-search-form-mobile
		input.page-header__search-input.main-nav__search-input(type="text" placeholder="Что будем искать?" required)
		button.page-header__search-submit(type="submit" aria-label="Найти")
			+svg("search-icon-mobile")(class="page-header__search-icon-mobile")
	.page-header__search-links.page-header__search-links_mobile
		a.page-header__search-link(href="")
			p.text Система защиты данных
		a.page-header__search-link(href="")
			img(src=`${baseDir}images/search/search-icon1.svg`)
			p.text Solar 4RAYS
	a.main-nav_enter-lk(href="https://lk.rt-solar.ru/" target="_blank" rel="nofollow")
		| <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
		| <path d="M17.7189 17.6852L17.6188 17.6851L17.6188 17.7851L17.6187 18.439L17.6187 18.539H17.7188H22.6461V24.7742V24.8742H22.7461H23.4025H23.5025V24.7742V18.5447C23.5025 18.5041 23.4911 18.4619 23.4766 18.4234C23.4616 18.3836 23.4406 18.341 23.4156 18.2978C23.3655 18.2114 23.2963 18.1169 23.217 18.0293C23.1377 17.9418 23.0459 17.8582 22.9498 17.7959C22.8551 17.7345 22.7472 17.6877 22.638 17.6877C22.638 17.6877 22.638 17.6877 22.638 17.6877L17.7189 17.6852Z" fill="white" stroke="white" stroke-width="0.2"/>
		| <path d="M18.2968 17.6852L18.3968 17.6851L18.3968 17.7851L18.3969 18.439L18.3969 18.539H18.2969H13.3695V24.7742V24.8742H13.2695H12.6131H12.5131V24.7742V18.5447C12.5131 18.5041 12.5245 18.4619 12.539 18.4234C12.554 18.3836 12.5751 18.341 12.6001 18.2978C12.6501 18.2114 12.7193 18.1169 12.7987 18.0293C12.8779 17.9418 12.9697 17.8582 13.0659 17.7959C13.1605 17.7345 13.2684 17.6877 13.3776 17.6877C13.3776 17.6877 13.3777 17.6877 13.3777 17.6877L18.2968 17.6852Z" fill="white" stroke="white" stroke-width="0.2"/>
		| <path class="svg-head" d="M17.8694 15.5278C19.7 15.5278 21.184 14.0438 21.184 12.2131C21.184 10.3825 19.7 8.89844 17.8694 8.89844C16.0387 8.89844 14.5547 10.3825 14.5547 12.2131C14.5547 14.0438 16.0387 15.5278 17.8694 15.5278Z" stroke="white" stroke-miterlimit="10"/>
		| <circle cx="18" cy="18" r="17.5" stroke="white"/>
		| </svg>
		span Войти в личный кабинет
		+svg("menu-arrow-mobile")(class="main-nav_enter-lk-arrow")
	.page-header__menu-tab.page-header__menu-tab_mobile
		a.page-header__menu-tab-link(href="/space/") Для малого бизнеса
		| <svg class="hidden" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		| <path d="M9.58625 2H10.9963L7.09625 13.115H5.65625L9.58625 2Z" fill="white"/>
		| </svg>
		a.page-header__menu-tab-link.hidden(href="") Для государства
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="/solutions/bezopasnaya_razrabotka/") Решения
		li.main-nav__item
			a.main-nav__link.main-nav__link-first-level.js-menu-link_first-level
				span Продукты
				+svg("menu-arrow")(class="main-nav__arrow-icon main-nav__arrow-icon_desctop")
				+svg("menu-arrow-mobile")(class="main-nav__arrow-icon main-nav__arrow-icon_mobile")
			.main-nav__submenu-wrapper
				.wrapper.main-nav__container
					.main-nav__header
						p.main-nav__title.js-mobile-close-menu
							+svg("nav-title-icon")(class="main-nav__title-icon")
							span Продукты
						button.main-nav__close-button.main-nav__close-button_desctop.js-close-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
						button.main-nav__close-button.main-nav__close-button_mobile.js-close-mobile-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
					ul.main-nav__submenu-list
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_dozor/")
								span.main-nav__sub-link-title Solar Dozor
								span.main-nav__sub-link-text Защита от утечек и корпоративного мошенничества
						li.main-nav__submenu-item
							a.main-nav__submenu-link.main-nav__submenu-link_new(href="/products/solar_ngfw/")
								span.main-nav__sub-link-title Solar NGFW
								span.main-nav__sub-link-text Программный межсетевой экран нового поколения
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_inrights/")
								span.main-nav__sub-link-title Solar inRights
								span.main-nav__sub-link-text Удобные процедуры исполнения регламентов
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_appscreener/")
								span.main-nav__sub-link-title Solar appScreener
								span.main-nav__sub-link-text Комплексный контроль безопасности ПО
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_webproxy/")
								span.main-nav__sub-link-title Solar webProxy
								span.main-nav__sub-link-text Управление доступом в интернет и защита от веб-угроз
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_safeinspect/")
								span.main-nav__sub-link-title Solar SafeInspect
								span.main-nav__sub-link-text Управление привилегированным доступом
						li.main-nav__submenu-item
							a.main-nav__submenu-link.main-nav__submenu-link_new(href="/products/solar_dag/")
								span.main-nav__sub-link-title Solar DAG
								span.main-nav__sub-link-text Контроль доступа к неструктурированным данным
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="https://addvisor.ru" target="_blank" rel="nofollow")
								span.main-nav__sub-link-title Solar addVisor
								span.main-nav__sub-link-text Аналитика персонала для организационного развития
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_cyberboost/")
								span.main-nav__sub-link-title Solar CyberBoost
								span.main-nav__sub-link-text Программы развития навыков кибербезопасности
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/products/solar_cybermir/")
								span.main-nav__sub-link-title Solar Cybermir
								span.main-nav__sub-link-text Платформа для проведения киберучений и построения киберполигонов
		li.main-nav__item
			a.main-nav__link.main-nav__link-first-level.js-menu-link_first-level
				span Сервисы
				+svg("menu-arrow")(class="main-nav__arrow-icon main-nav__arrow-icon_desctop")
				+svg("menu-arrow-mobile")(class="main-nav__arrow-icon main-nav__arrow-icon_mobile")
			.main-nav__submenu-wrapper
				.wrapper.main-nav__container
					.main-nav__header
						p.main-nav__title.js-mobile-close-menu
							+svg("nav-title-icon")(class="main-nav__title-icon")
							span Сервисы
						button.main-nav__close-button.main-nav__close-button_desctop.js-close-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
						button.main-nav__close-button.main-nav__close-button_mobile.js-close-mobile-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
					a.main-nav__show-all.link.link_arrow.link_arrow_center(href="/services/jsoc/all/" data-tab-name="solar-jsoc")
						span Все сервисы
						| <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path  fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"/>
						| </svg>
					a.main-nav__show-all.link.link_arrow.link_arrow_center.visually-hidden(href="/services/mss/all/" data-tab-name="solar-mms")
						span Все сервисы
						| <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path  fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"/>
						| </svg>
					.main-nav__tabs-section
						.main-nav__tabs-wrapper
							.main-nav__tabs-button-wrapper
								button.main-nav__tab-button.js-menu-tab.active(data-tab-name="solar-jsoc") Solar JSOC
								button.main-nav__tab-button.js-menu-tab(data-tab-name="solar-mms") Solar MSS
							a.main-nav__prev-link.link.link_arrow(href="/services/jsoc/" data-tab-name="solar-jsoc")
								span Центр противодействия кибератакам
								| <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								| <path  fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"/>
								| </svg>
							a.main-nav__prev-link.link.link_arrow.visually-hidden(href="/services/mss/" data-tab-name="solar-mms")
								span Кибербезопасность по подписке. Просто, выгодно, надежно
								| <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								| <path  fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"/>
								| </svg>
						ul.main-nav__submenu-list.main-nav__submenu-list_small(data-tab-name="solar-jsoc")
							li.main-nav__submenu-item_mobile
								a.main-nav__mobile-prev-link.link.link_arrow.link_arrow-big(href="/services/jsoc/" data-tab-name="solar-jsoc")
									span Центр противодействия кибератакам
									| <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									| <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"></path>
									| </svg>
							li.main-nav__submenu-item
								a.main-nav__submenu-link.main-nav__submenu-link_new(href="/services/jsoc/solar-cpt/")
									span.main-nav__sub-link-title Continuous Penetration Testing (Solar CPT)
									span.main-nav__sub-link-text Постоянный контроль защищенности внешнего периметра
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/solar-aura/")
									span.main-nav__sub-link-title Мониторинг внешних цифровых угроз (Solar AURA)
									span.main-nav__sub-link-text Комплексный DRP-сервис для выявления киберрисков
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/nta/")
									span.main-nav__sub-link-title Анализ сетевого трафика (NTA)
									span.main-nav__sub-link-text Выявление сложных атак с помощью сбора и анализа сетевого трафика
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/incident-response/irp/")
									span.main-nav__sub-link-title Управление процессами реагирования на инциденты (IRP)
									span.main-nav__sub-link-text Автоматизация реагирования на инциденты
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/monitoring/")
									span.main-nav__sub-link-title Мониторинг и анализ<br> инцидентов (MDR)
									span.main-nav__sub-link-text Оперативное выявление инцидентов и анализ событий
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/monitoring/gossopka/")
									span.main-nav__sub-link-title Сервисы ГосСОПКА
									span.main-nav__sub-link-text Выполнение требований к субъектам КИИ по 187-ФЗ
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/jsoc/digital-forensic-and-incident-response/eir/")
									span.main-nav__sub-link-title Экстренное реагирование на инциденты
									span.main-nav__sub-link-text Помощь в отражении атак<br> любой сложности
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/edr/")
									span.main-nav__sub-link-title Защита конечных точек (EDR)
									span.main-nav__sub-link-text Обнаружение хакерских инструментов на рабочих...
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/security-assessment/pentest/")
									span.main-nav__sub-link-title Тестирование на проникновение
									span.main-nav__sub-link-text Моделирование атак для оценки защищенности
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/building-a-soc/")
									span.main-nav__sub-link-title Построение SOC и консалтинг
									span.main-nav__sub-link-text Создание и развитие центров управления ИБ
							li.main-nav__submenu-item.main-nav__submenu-item_mobile
								a.main-nav__show-all-mobile.link.link_arrow.link_arrow-big.link_arrow_center(href="/services/jsoc/#jsoc-services" data-tab-name="solar-jsoc")
									span ВСЕ СЕРВИСЫ SOLAR JSOC
									| <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									| <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"></path>
									| </svg>
						ul.main-nav__submenu-list.main-nav__submenu-list_small.visually-hidden(data-tab-name="solar-mms")
							li.main-nav__submenu-item_mobile
								a.main-nav__mobile-prev-link.link.link_arrow.link_arrow-big(href="/services/mss/" data-tab-name="solar-mms")
									span Кибербезопасность по подписке. Просто, выгодно, надежно.
									| <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									| <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"></path>
									| </svg>
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/vpn/")
									span.main-nav__sub-link-title Сервис шифрования каналов связи (ГОСТ VPN)
									span.main-nav__sub-link-text Построение защищенных сетей с использованием СКЗИ
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/utm/")
									span.main-nav__sub-link-title Сервис защиты от сетевых угроз (UTM)
									span.main-nav__sub-link-text Защита сети компании под управлением экспертов
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/vulnerability/")
									span.main-nav__sub-link-title Сервис контроля уязвимостей (VM)
									span.main-nav__sub-link-text Контроль уязвимостей и рекомендации по их устранению
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/waf/")
									span.main-nav__sub-link-title Сервис защиты веб-приложений (WAF)
									span.main-nav__sub-link-text Эффективная защита веб-приложений от актуальных угроз
							li.main-nav__submenu-item
								a.main-nav__submenu-link.main-nav__submenu-link_new(href="/services/tls/")
									span.main-nav__sub-link-title Сервис защищенного доступа к веб-ресурсам (ГОСТ TLS)
									span.main-nav__sub-link-text Дополнительный вариант доступа к веб-ресурсу и защита канала связи
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/sa/")
									span.main-nav__sub-link-title Сервис управления навыками кибербезопасности (SA)
									span.main-nav__sub-link-text Обучение сотрудников навыкам киберграмотности
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/sandbox/")
									span.main-nav__sub-link-title Сервис защиты от продвинутых угроз (Sandbox)
									span.main-nav__sub-link-text Автоматическая защита от маскирующихся угроз
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/anti-ddos/")
									span.main-nav__sub-link-title Сервис мониторинга трафика и защиты от DDoS-атак (Anti-DDoS)
									span.main-nav__sub-link-text Защита и круглосуточная доступность интернет-ресурсов
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/seg/")
									span.main-nav__sub-link-title Сервис защиты электронной почты (SEG)
									span.main-nav__sub-link-text Безопасная почта с экспертной поддержкой по подписке
							li.main-nav__submenu-item.main-nav__submenu-item_mobile
								a.main-nav__show-all-mobile.link.link_arrow.link_arrow-big.link_arrow_center(href="/services/mss/all/" data-tab-name="solar-mms")
									span ВСЕ СЕРВИСЫ SOLAR MSS
									| <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									| <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 12.5294L13.5303 8.52941C13.8232 8.23652 13.8232 7.76164 13.5303 7.46875L9.53033 3.46875L8.46967 4.52941L11.191 7.25079L2.00028 7.24908L2 8.74908L11.1876 8.75079L8.46967 11.4688L9.53033 12.5294Z" fill="#FE6E36"></path>
									| </svg>
		li.main-nav__item
			a.main-nav__link.main-nav__link-first-level.js-menu-link_first-level
				span Услуги
				+svg("menu-arrow")(class="main-nav__arrow-icon main-nav__arrow-icon_desctop")
				+svg("menu-arrow-mobile")(class="main-nav__arrow-icon main-nav__arrow-icon_mobile")
			.main-nav__submenu-wrapper
				.wrapper.main-nav__container
					.main-nav__header
						p.main-nav__title.js-mobile-close-menu
							+svg("nav-title-icon")(class="main-nav__title-icon")
							span Услуги
						button.main-nav__close-button.main-nav__close-button_desctop.js-close-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
						button.main-nav__close-button.main-nav__close-button_mobile.js-close-mobile-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
					.main-nav__tabs-section
						.main-nav__tabs-wrapper
							.main-nav__tabs-button-wrapper
								button.main-nav__tab-button.js-menu-tab.active(data-tab-name="skill-development") Развитие навыков
								button.main-nav__tab-button.js-menu-tab(data-tab-name="consulting-soc") Консалтинг SOC
								button.main-nav__tab-button.js-menu-tab(data-tab-name="technical-protection-of-information") Техническая защита информации
						ul.main-nav__submenu-list.main-nav__submenu-list_small(data-tab-name="skill-development")
							li.main-nav__submenu-item
								a.main-nav__submenu-link.main-nav__submenu-link_new(href="/uslugi/cyber-training/")
									span.main-nav__sub-link-title Проведение киберучений
									span.main-nav__sub-link-text Проверка и развитие навыков ИБ-специалистов
						ul.main-nav__submenu-list.main-nav__submenu-list_small.visually-hidden(data-tab-name="consulting-soc")
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/services/jsoc/otsenka_zrelosti_soc/")
									span.main-nav__sub-link-title Оценка зрелости SOC
									span.main-nav__sub-link-text Раскрытие потенциала центра противодействия кибератакам
						ul.main-nav__submenu-list.main-nav__submenu-list_small.visually-hidden(data-tab-name="technical-protection-of-information")
							li.main-nav__submenu-item
								a.main-nav__submenu-link(href="/uslugi/protection_of_state_secrets/")
									span.main-nav__sub-link-title Защита государственной тайны
		li.main-nav__item
			a.main-nav__link(href="/analytics/reports/") Аналитика
		li.main-nav__item
			a.main-nav__link(href="/solar-4rays/") Центр исследований Solar 4RAYS
		li.main-nav__item
			a.main-nav__link.main-nav__link-first-level.js-menu-link_first-level
				span О компании
				+svg("menu-arrow")(class="main-nav__arrow-icon main-nav__arrow-icon_desctop")
				+svg("menu-arrow-mobile")(class="main-nav__arrow-icon main-nav__arrow-icon_mobile")
			.main-nav__submenu-wrapper
				.wrapper.main-nav__container
					.main-nav__header
						p.main-nav__title.js-mobile-close-menu
							+svg("nav-title-icon")(class="main-nav__title-icon")
							span О компании
						button.main-nav__close-button.main-nav__close-button_desctop.js-close-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
						button.main-nav__close-button.main-nav__close-button_mobile.js-close-mobile-menu
							+svg("close-menu-button")(class="main-nav__close-menu-icon")
					ul.main-nav__submenu-list
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/")
								span.main-nav__sub-link-title О нас
								span.main-nav__sub-link-text Ценности, достижения, история развития
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/clients/")
								span.main-nav__sub-link-title Наши клиенты
								span.main-nav__sub-link-text Организации, которые доверяют нам самое ценное
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/career/")
								span.main-nav__sub-link-title Карьера
								span.main-nav__sub-link-text Почему люди выбирают работу в «Соларе»
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/start/")
								span.main-nav__sub-link-title Стажировка
								span.main-nav__sub-link-text Проложите свой карьерный трек в окружении экспертов
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/contacts/")
								span.main-nav__sub-link-title Контакты
								span.main-nav__sub-link-text Где нас найти и как связаться
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/investments/")
								span.main-nav__sub-link-title Инвестиции
								span.main-nav__sub-link-text Как Solar инвестирует в развитие сферы информационной безопасности
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/vakansii/")
								span.main-nav__sub-link-title Вакансии
								span.main-nav__sub-link-text Станьте частью команды профессионалов
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/about_company/identity/")
								span.main-nav__sub-link-title Фирменный стиль
								span.main-nav__sub-link-text Скачать логотипы компании
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/events/news/")
								span.main-nav__sub-link-title Новости
								span.main-nav__sub-link-text Будьте в курсе происходящего в мире кибербезопасности
						li.main-nav__submenu-item
							a.main-nav__submenu-link(href="/events/calendar/")
								span.main-nav__sub-link-title Мероприятия
								span.main-nav__sub-link-text Регистрируйтесь на события в сфере ИБ, чтобы не упустить важное
		li.main-nav__item
			a.main-nav__link(href="/partners/") Партнеры
	button.btn.btn_orange.page-header__consultation.page-header__consultation_mobile.js-open-consultation-popup Запросить консультацию
