.popup.success.mfp-hide.js-success-popup
	p.success__title(role="heading" aria-level="2") Спасибо, заявка получена
	p.success__text Мы свяжемся с вами в течение двух дней<br> по вашему запросу.
	p.success__text Узнать больше о компании, предстоящих событиях и новостях кибербезопасности можно у нас на сайте.
	button.btn.success__btn-close.js-success-close-btn Закрыть окно


