section.section.section_last.main-404
	.wrapper
		.main-404__grid
			.main-404__col.main-404__col_1
				picture.story__picture
					//source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}story-2@2x.webp`)
					img.main-404__img(src=`${baseDirCurImg}main-404.webp` srcset=`${baseDirCurImg}main-404@2x.webp 2x` width="568" height="323" alt="Закат над рекой с проплывающими лодками и катером")
			.main-404__col.main-404__col_2
				h1.text.main-404__title 404
				p.text.text_mid.main-404__prev-title Похоже, Вы заблудились
				p.text.main-404__text Страница, которую вы&nbsp;ищете, недоступна!
				a.text.text_sm.link.link_second.main-404__link(href=`${langPrefix}/`) Вернуться на&nbsp;главную
