section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Чем статус ВНЖ отличается от&nbsp;РВП?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text ВНЖ дает больше преимуществ: вы&nbsp;можете жить и&nbsp;работать в&nbsp;любом регионе России, выезжать из&nbsp;страны на&nbsp;неограниченный срок без потери статуса и&nbsp;пользоваться почти всеми правами гражданина&nbsp;РФ (кроме избирательного права).
			details.faq__item
				summary.text.text_mid.faq__summary-title Можно&nbsp;ли получить ВНЖ быстрее?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, по&nbsp;упрощенному порядку&nbsp;&mdash; например, если вы&nbsp;высококвалифицированный специалист или выпускник российского вуза с&nbsp;красным дипломом. Мы&nbsp;поможем найти подходящее основание.
			details.faq__item
				summary.text.text_mid.faq__summary-title Нужно&nbsp;ли потом подтверждать ВНЖ?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, нужно ежегодно подавать уведомление о&nbsp;проживании. Мы&nbsp;проконсультируем, как правильно это делать.
