section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-2_1.svg` width="40" height="40" alt="Для граждан по указу №702")
							p.text.difficulties__text Для граждан из&nbsp;стран, которые попадают под перечень из&nbsp;указа &#8470;&nbsp;702 Президента РФ&nbsp;&laquo;Об&nbsp;оказании гуманитарной поддержки лицам, разделяющим традиционные российские духовно-нравственные ценности&raquo;.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-2_2.svg` width="40" height="40" alt="Для иностранных граждан с правом на упрощённый порядок")
							p.text.difficulties__text Для иностранных граждан, которые могут претендовать на&nbsp;упрощенный порядок (носители языка, высококвалифицированные специалисты, выпускники российских вузов и&nbsp;др.).
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-2_3.svg` width="40" height="40" alt="Для владельцев статуса РВП")
							p.text.difficulties__text Для владельцев статуса РВП, готовых оформить следующий статус.
