section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Вид на&nbsp;жительство (ВНЖ) в&nbsp;РФ
		.service-intro__text-wrapper
			p.text.service-intro__text Получите право на&nbsp;постоянное проживание в&nbsp;России без лишних сложностей!
			p.text.service-intro__text <b>Вид на&nbsp;жительство</b>&nbsp;&mdash; ключевой документ для иностранца, который дает право постоянно жить, работать и&nbsp;на&nbsp;любой срок выезжать из&nbsp;России без потери статуса. Мы&nbsp;берем на&nbsp;себя весь процесс оформления: от&nbsp;консультации по&nbsp;основаниям до&nbsp;подачи документов и&nbsp;получения готового ВНЖ.
