.about-advantages__picture {
	display: flex;
}

.about-approach__img {
	border-radius: rem(20px);

	@include laptop {
		width: 100%;
	}
}

.about-approach__content-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(30px);

	@include laptop {
		grid-template-columns: 1fr;
		gap: rem(24px);
	}
}

.about-approach__text-wrapper {
	border-radius: rem(20px);
	padding: rem(30px);
}

.about-approach__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-approach__controls {
	display: flex;
	gap: rem(20px);
}

.about-approach__text {
	font-weight: 700;

	span {
		color: var(--color-green);
	}
}

.about-approach__slider {
	margin-bottom: rem(50px) !important;
	margin-left: rem(-12px);
	margin-right: rem(-12px);

	.slick-slide {
		& > div {
			display: flex;
			padding-left: rem(12px);
			padding-right: rem(12px);

			@include laptop {
				padding-left: rem(8px);
				padding-right: rem(8px);
			}
		}
	}

	@include mobile {
		margin-left: rem(-8px);
		margin-right: rem(-8px);
	}
}
