.request-form__wrapper {
	display: grid;
	grid-template-columns: rem(343px) 1fr;
	gap: rem(80px);
	max-width: rem(1093px);

	@include laptop {
		grid-template-columns: 1fr;
		gap: rem(40px);
	}
}

.request-form__steps-container {
	@include laptop {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: rem(32px);
	}

	@include tablet {
		flex-direction: column-reverse;
	}
}

.request-form__steps {
	display: flex;
	flex-direction: column;
	gap: rem(30px);
	margin-bottom: rem(80px);

	@include laptop {
		margin-bottom: 0;
		width: 100%;
		max-width: 50%;
	}

	@include tablet {
		max-width: 100%;
	}
}

.request-form__steps-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(50px);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: rem(25px);
		width: rem(2px);
		height: calc(100% + 1.875rem);
		background-color: var(--color-light-grey);
		transition: 0.3s ease-out;
		z-index: -1;
	}

	&:last-child {
		&::before {
			display: none;
		}
	}

	&_active {
		&::before {
			background-color: var(--color-green);
		}

		.request-form__step-number {
			border-color: var(--color-green);
			color: var(--color-green);
		}

		.request-form__step-title {
			font-weight: 700;
			color: var(--color-green);
		}
	}

	&_compeled {
		&::before {
			background-color: var(--color-green);
		}

		.request-form__step-number {
			border-color: var(--color-green);
			background-color: var(--color-green);
			color: var(--color-white);
		}

		.request-form__step-title {
			font-weight: 700;
			color: var(--color-green);
		}
	}

	@include laptop {
		gap: rem(24px);
	}
}

.request-form__step-number {
	width: rem(50px);
	height: rem(50px);
	border: rem(2px) solid var(--color-light-grey);
	border-radius: 50%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-out;
}

.request-form__step-number {
	background-color: var(--color-white);
	color: var(--color-light-grey);
	font-weight: 700;
	transition: 0.3s ease-out;
}

.request-form__step-title {
	flex-grow: 1;
	transition: color 0.3s ease-out;
	color: var(--color-grey);
}

.request-form__privacy-card {
	padding: rem(30px) rem(4px) rem(4px);
	border-radius: rem(20px);

	@include laptop {
		width: 100%;
		max-width: 50%;
		padding: rem(16px) rem(4px) rem(4px);
	}

	@include tablet {
		max-width: 100%;
		padding: rem(20px);
	}
}

.request-form__privacy-title,
.request-form__privacy-text {
	padding-right: rem(30px);
	padding-left: rem(30px);

	@include laptop {
		padding-right: rem(16px);
		padding-left: rem(16px);
	}

	@include tablet {
		padding-right: 0;
		padding-left: 0;
	}
}

.request-form__privacy-title {
	font-weight: 700;
}

.request-form__privacy-text {
	margin-bottom: rem(30px);

	@include laptop {
		margin-bottom: rem(16px);
	}
}

.request-form__picture {
	display: flex;
}

.request-form__img {
	border-radius: rem(16px);
	width: 100%;

	@include tablet {
		max-height: rem(400px);
		object-fit: cover;
	}
}

.request-form__form {
	border-radius: rem(20px);
	border: 1px solid var(--color-light-grey);
}

.request-form__form-field {
	border: none;
	padding: 0;
	margin: 0;
}

.request-form__form-legend {
	padding: rem(50px) rem(50px) rem(30px);
	display: flex;
	width: 100%;
	font-size: rem(36px);
	font-weight: 700;
	color: var(--color-green);
	border-bottom: 1px solid var(--color-light-grey);
	margin-bottom: rem(30px);

	@include laptop {
		padding: rem(20px) rem(30px);
	}

	@include mobile {
		font-size: rem(24px);
		padding: rem(20px);
	}
}

.request-form__item {
	padding-left: rem(50px);
	padding-right: rem(50px);
	margin-bottom: rem(20px);

	@include laptop {
		padding-right: rem(30px);
		padding-left: rem(30px);
		margin-bottom: rem(32px);
	}

	@include mobile {
		padding-right: rem(20px);
		padding-left: rem(20px);
	}
}

.request-form__actions {
	padding-left: rem(50px);
	padding-right: rem(50px);
	margin-top: rem(50px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(20px);

	@include laptop {
		margin-top: rem(30px);
		padding-left: rem(30px);
		padding-right: rem(30px);
	}

	@include mobile {
		padding-left: rem(20px);
		padding-right: rem(20px);
	}
}

.request-form__meta {
	padding: rem(30px) rem(50px) rem(50px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(32px);

	@include laptop {
		padding: rem(30px);
	}

	@include mobile {
		padding-right: rem(20px);
		padding-left: rem(20px);
	}
}

.request-form__report-tooltip {
	display: flex;
	cursor: default;
	position: relative;

	&:hover {
		.request-form__tooltip-wrapper {
			opacity: 1;
			pointer-events: initial;
		}
	}
}

.request-form__tooltip-wrapper {
	position: absolute;
	width: rem(370px);
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	top: 0;
	padding-bottom: rem(14px);
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease-out;

	@include laptop {
		left: rem(-24px);
		transform: translateX(0) translateY(-100%);
		width: rem(300px);
	}
}

.request-form__report {
	font-size: rem(14px);
}

.request-form__report-icon {
	width: rem(20px);
	height: rem(20px);
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url($baseDirMain + "icon-report.svg");
}

.request-form__report-wrapper {
	display: flex;
	align-items: center;
	gap: rem(10px);
}

.request-form__tooltip-text {
	box-shadow: 0px rem(4px) rem(10px) rem(2px) rgba(0, 0, 0, 0.25);
	background-color: var(--color-white);
	border-radius: rem(20px);
	padding: rem(20px);
}

.request-form__btn {
	&:last-child:first-child {
		grid-column-start: 1;
		grid-column-end: -1;
	}
}
