section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Это действительно бесплатно?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, программа полностью бесплатна для детей из&nbsp;семей иностранных переселенцев, соответствующих критериям.
			details.faq__item
				summary.text.text_mid.faq__summary-title Какой формат обучения?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Смешанный: 1-2 дня в&nbsp;неделю очные занятия в&nbsp;Нижнем Новгороде, остальное время&nbsp;&mdash; дистанционно.
			details.faq__item
				summary.text.text_mid.faq__summary-title Что дает программа ребенку?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Ребенок изучит русский язык, адаптируется к&nbsp;новой среде, найдет друзей и&nbsp;сможет комфортно продолжить учебу в&nbsp;российской школе.
