section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Образование для детей
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Комплексная программа социальной и&nbsp;языковой адаптации для детей</b> иностранных переселенцев в&nbsp;Нижегородской области. Бесплатное участие при поддержке нашего партнера&nbsp;&mdash; инновационного образовательного центра &laquo;Школа 800&raquo;.
