section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text
				b Три ключевых блока поддержки:
			ul.service-intro__list
				li.service-intro__list-item Языковой курс для разных уровней (с&nbsp;A1&nbsp;до&nbsp;B1).
				li.service-intro__list-item Участие в&nbsp;мероприятиях Школы 800: мастер-классы, кружки, концерты.
				li.service-intro__list-item Сопровождение тьютором&nbsp;&mdash; старшеклассником, владеющим английским.
