section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title В&nbsp;чем разница между общим и&nbsp;упрощенным порядком?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text <b>Общий порядок</b> требует 5&nbsp;лет проживания с&nbsp;видом на&nbsp;жительство и&nbsp;занимает 7-9 лет с&nbsp;момента переезда. <b>Упрощенный порядок</b> позволяет сократить сроки, если у&nbsp;вас есть определенные основания.
			details.faq__item
				summary.text.text_mid.faq__summary-title Могут&nbsp;ли мне отказать?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, основания для отказа четко прописаны в&nbsp;законе. К&nbsp;ним относятся наличие непогашенной судимости, предоставление подложных документов, угроза безопасности&nbsp;РФ и&nbsp;др. Мы&nbsp;проводим предварительную оценку всех рисков.
			details.faq__item
				summary.text.text_mid.faq__summary-title Вы&nbsp;помогаете, если у&nbsp;меня нет оснований для упрощенного порядка?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, мы&nbsp;сопровождаем получение гражданства и&nbsp;в&nbsp;общем порядке, помогая правильно пройти все предыдущие этапы: РВП, ВНЖ и&nbsp;подтверждение законности проживания.
