section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Наша команда юристов и&nbsp;бизнес-девелоперов поможет</b> выбрать оптимальную форму бизнеса (ИП&nbsp;или ООО), подготовить документы для регистрации, проконсультирует по&nbsp;налогам и&nbsp;поможет установить контакты с&nbsp;потенциальными партнерами.
