section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Бизнес и&nbsp;инвестиции в&nbsp;России
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Агентство &laquo;ОКА&raquo; оказывает полный цикл услуг по&nbsp;сопровождению</b> иностранных граждан на&nbsp;всех этапах реализации бизнес-проекта на&nbsp;территории Российской Федерации&nbsp;&mdash; от&nbsp;первичной концепции до&nbsp;успешного запуска и&nbsp;выхода на&nbsp;операционную деятельность.
