section.section.case-adaptation.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-adaptation__header
			h2.title-h2.case-adaptation__title Новая реальность: адаптация и&nbsp;успех
		.case-adaptation__grid
			.case-adaptation__col.case-adaptation__col_1
				p.text.text_mid.case-adaptation__lead В&nbsp;2024 году они решили переехать в&nbsp;Россию, увидев в&nbsp;ней страну, где <span class="text__accent">почитают веру и&nbsp;традиционные семейные ценности</span>.
				p.text.text_mid.case-adaptation__lead В&nbsp;октябре 2024 года они прибыли в&nbsp;Нижний Новгород для получения разрешения на&nbsp;временное проживание (РВП) в&nbsp;соответствии с&nbsp;Указом Президента России &#8470;&nbsp;702.
			.case-adaptation__col.case-adaptation__col_2
				.case-adaptation__note.glass-card
					p.text.text_mid.case-adaptation__note-title Точка&nbsp;А
					p.text.text_medium-1.case-adaptation__text Семья из&nbsp;США в&nbsp;поисках места, где традиционные ценности являются краеугольным камнем общества
				.case-adaptation__note-second.green-block
					p.text.text_mid.text_white.case-adaptation__note-title Точка&nbsp;Б
					p.text.text_medium-1.text_white.case-adaptation__text Активные участники жизни Нижнего Новгорода, успешно адаптирующиеся: родители готовятся преподавать английский язык, а&nbsp;дети, освоившись в&nbsp;новой среде, строят планы на&nbsp;получение образования и&nbsp;творческое развитие в&nbsp;России
