section.section.case-hero.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-hero__header
			h1.title-h2.case-hero__title Семья Барбен
		.case-hero__media
			img.case-hero__img(src=`${baseDirCurImg}barben-hero-1.webp` srcset=`${baseDirCurImg}barben-hero-1@2x.webp 2x` width="1170" height="473" alt="Семья Барбен — фото")
			.case-hero__bubble.case-hero__bubble_1.white-block
				p.text.case-hero__bubble-text &laquo;В&nbsp;России мы&nbsp;обрели духовную родину, где наши ценности могут прочно укорениться&raquo;
