.breadcrumbs {
	padding-top: rem(20px);
	padding-bottom: rem(20px);
}

.breadcrumbs__nav {
	display: flex;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: rem(8px) 0;
}

.breadcrumbs__link {
	color: var(--color-dark-grey);
	text-underline-offset: rem(3px);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: var(--color-dark-grey);
	}

	&:active {
		color: var(--color-green);
		text-decoration-color: var(--color-green);
	}
}

.breadcrumbs__item {
	font-size: $font-size-second;

	&:after {
		content: "—";
		margin-left: rem(8px);
		margin-right: rem(8px);
	}
}

.breadcrumbs__item_current {
	color: var(--color-black);
	font-weight: 700;

	&::after {
		display: none;
	}
}

