.breadcrumbs {
	padding-top: rem(30px);

	@include laptop {
		padding-top: rem(20px);
	}

	@include mobile {
		padding-top: rem(24px);
	}
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	gap: rem(8px) 0;
}

.breadcrumbs__item {
	display: flex;
	align-items: center;

	&::after {
		content: "";
		width: rem(7px);
		height: rem(14px);
		background: url("/images/breadcrumbs-icon.svg") no-repeat;
		background-size: 100%;
		margin-left: rem(7px);
		margin-right: rem(7px);
	}

	&:last-child:not(.breadcrumbs__item_last) {
		&::after {
			display: none;
		}
	}

	@include laptop {
		&:not(:nth-last-child(2)) {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

.breadcrumbs__link {
	&_last {
		pointer-events: none;
		color: var(--color-grey-60);
	}

	&:hover {
		color: var(--color-light-orange);
	}

	&:active {
		color: var(--color-dark-orange);
	}

	@include laptop {
		display: flex;
		align-items: flex-start;

		&::before {
			content: '';
			width: rem(10px);
			height: rem(24px);
			background: url("/images/breadcrumbs-arrow.svg") no-repeat;
			background-size: 100%;
			margin-right: rem(7px);
			transform: translateY(-2px);
		}
	}
}
