.content {
	h2 {
		font-size: rem(24px);
		font-weight: 700;
		margin: 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		margin: 0;
		margin-bottom: rem(10px);
		letter-spacing: rem(0.12px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		text-decoration: underline;
		text-underline-offset: rem(3px);

		&:hover {
			text-decoration-color: transparent;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: rem(10px);
		padding-left: rem(24px);
	}

	li {
		list-style: disc;
	}
}
