.footer {
	margin-top: auto;
	background-color: var(--color-black);
	padding-top: rem(55px);
	padding-bottom: rem(55px);

	@include laptop {
		padding-top: rem(32px);
		padding-bottom: rem(32px);
	}
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	gap: rem(32px);

	@include laptop {
		flex-direction: column;
	}
}

.footer__menu {
	display: flex;
	gap: rem(24px) rem(50px);
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: rem(21px);

	@include laptop {
		margin-bottom: rem(32px);
	}

	@include tablet {
		flex-direction: column;
		align-items: flex-start;

	}
}

.footer__menu-item {
	display: flex;
}

.footer__menu-link {
	font-weight: 700;
	text-underline-offset: rem(3px);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: var(--color-white);
	}

	&:active {
		color: var(--color-green);
		text-decoration-color: var(--color-green);
	}
}

.footer__info-link {
	font-size: $font-size-second;
	color: var(--color-grey);

	&:hover {
		color: var(--color-light-grey);
	}

	&:active {
		color: var(--color-white);
	}
}

.footer__info-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: rem(24px) rem(57px);

	@include tablet {
		flex-direction: column;
		align-items: flex-start;
	}
}

.footer__info-item {
	display: flex;
}
