.form__item {
	display: flex;
	flex-direction: column;

	label.error {
		font-size: rem(12px);
		color: var(--color-red);
		margin-top: rem(8px);
	}
}

.form__label {
	font-size: rem(12px);
	margin: 0;
	margin-bottom: rem(8px);

	&_lg {
		font-size: rem(16px);
	}
}

.form__input {
	appearance: none;
	display: flex;
	align-items: center;
	border-radius: rem(100px);
	border: 1px solid var(--color-grey);
	font-size: rem(16px);
	line-height: 1.2;
	padding: rem(14px) rem(19px);
	height: rem(50px);
	box-shadow: inset 0 0 0 rem(50px) var(--color-white) !important;
	width: 100%;
	transition: 0.3s ease-out;

	&:focus {
		border-color: var(--color-black);

		& + .form__date-btn {
			.form__date-icon {
				path {
					stroke: var(--color-black);
				}
			}
		}
	}

	&.error {
		border-color: var(--color-red);

		&::-webkit-input-placeholder {
			color: var(--color-red);
		}

		&::-moz-placeholder {
			color: var(--color-red);
		}

		&::-moz-placeholder {
			color: var(--color-red);
		}

		&::-ms-input-placeholder {
			color: var(--color-red);
		}

		&::placeholder {
			color: var(--color-red);
		}
	}
}

.form__control {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form__date-btn {
	position: absolute;
	width: rem(20px);
	height: rem(20px);
	display: flex;
	top: rem(15px);
	right: rem(20px);
	pointer-events: none;
}

.form__date-icon {
	width: 100%;
	height: 100%;

	path {
		transition: 0.3s ease-out;
	}
}

.form__hint {
	font-size: rem(12px);
	color: var(--color-grey);
	margin: 0;
	margin-top: rem(8px);
}

.form__select {
	position: relative;
	display: flex;
	flex-direction: column;

	&.error {
		& ~ .select2-container {
			.select2-selection--single {
				border-color: var(--color-red);

				.select2-selection__placeholder {
					color: var(--color-red);
				}
			}
		}
	}

	label.error {
		order: 3;
	}
}

.form__radios {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: rem(8px);
}

.form__radio {
	display: inline-flex;
	gap: rem(8px);
	align-items: center;
	cursor: pointer;
}

.form__radio-text {
	font-size: rem(16px);

}

.form__radio-mark {
	width: rem(20px);
	height: rem(20px);
	border-radius: 50%;
	border: 1px solid var(--color-light-grey);
	transition: 0.3s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: "";
		display: block;
		width: rem(10px);
		height: rem(10px);
		border-radius: 50%;
		background-color: var(--color-green);
		transition: 0.3s ease-out;
		opacity: 0;
	}
}

.form__radio-input {
	&:checked {
		& + .form__radio-mark {
			border-color: var(--color-green);

			&::before {
				opacity: 1;
			}
		}
	}
}

.form__upload-input {
	display: none;
}

.form__upload {
	height: rem(142px);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed var(--color-grey);
	border-radius: rem(25px);
	cursor: pointer;
	transition: 0.3s ease-out;

	&.is-dragover {
		border-color: var(--color-green);
		background-color: var(--color-light-green);
	}
}

.form__upload-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: rem(4px);
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.form__upload-text,
.form__upload-hint {
	text-align: center;
	font-size: rem(14px);
	font-weight: 500;
	color: var(--color-grey);
	pointer-events: none;
}

.form__upload-hint {
	color: var(--color-light-grey);
}

.form__upload-list {
	padding-top: rem(20px);
	display: inline-flex;
	flex-direction: column;
	gap: rem(20px);

	&:empty {
		display: none;
	}
}

.form__upload-list-item {
	display: inline-flex;
	flex-direction: column;
	gap: rem(4px);
	position: relative;
	padding-right: rem(62px);
	padding-left: rem(42px);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: rem(30px);
		height: rem(30px);
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url($baseDirMain + "file-icon.png");
		border-radius: rem(5px);
	}

	&.is-invalid {
		.form__name-file {
			color: var(--color-red);
		}
	}
}

.form__remove-file {
	position: absolute;
	width: rem(30px);
	height: rem(30px);
	border-radius: rem(5px);
	background-color: rgba(241, 241, 241, 1);
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--color-green);

		.form__remove-svg {
			path {
				stroke: var(--color-white)
			}
		}
	}

	&:active {
		background-color: var(--color-dark-green);

		.form__remove-svg {
			path {
				stroke: var(--color-white)
			}
		}
	}
}

.form__remove-svg {
	width: rem(16px);
	height: rem(16px);

	path {
		transition: 0.3s ease-out;
	}
}

.form__name-file,
.form__size-file {
	font-size: rem(14px);
	font-weight: 500;
}

.form__size-file {
	color: var(--color-grey);
}

.form__name-file {
	max-width: rem(250px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.form__checkboxes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: rem(9px);
}

.form__checkbox-text {
	font-size: rem(16px);
}

.form__checkbox {
	display: flex;
	gap: rem(8px);
	cursor: pointer;
}

.form__checkbox-mark {
	width: rem(20px);
	height: rem(20px);
	border-radius: rem(5px);
	border: 1px solid var(--color-light-grey);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: "";
		display: block;
		width: rem(16px);
		height: rem(16px);
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url($baseDirMain + "icon-checked.svg");
		transition: 0.3s ease-out;
		opacity: 0;
	}
}

.form__checkbox-input {
	&:checked {
		& + .form__checkbox-mark {
			border-color: var(--color-green);
			background-color: var(--color-green);

			&::before {
				opacity: 1;
			}
		}
	}
}

.form__textarea-custom {
	resize: none;
	height: rem(90px);
	border-radius: rem(25px);
	padding-bottom: rem(20px);
	scrollbar-width: none;
	-ms-overflow-style: none;

	&:focus {
		outline: none;
	}
}

.form__textarea-wrapper {
	position: relative;
}

.form__counter {
	position: absolute;
	font-size: rem(12px);
	color: var(--color-grey);
	margin: 0;
	right: rem(28px);
	bottom: rem(5px);
	background-color: var(--color-white);

	&.is-limit {
		color: var(--color-red);
	}
}
