.form__item {
	position: relative;
	display: flex;
	align-items: flex-start;
	margin-bottom: rem(24px);
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	&_checkbox {
		flex-direction: column;
		gap: rem(18px);
	}
}

.form__border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-white);
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--color-orange);
		transition: 0.3s ease-out;
		transform: translateX(-101%);
	}

	&_for-white {
		background-color: var(--color-grey-60);
	}

	&_light-grey {
		background-color: var(--color-grey-20);
	}
}

.form__input {
	appearance: none;
	display: flex;
	align-items: flex-end;
	border: none;
	//border-bottom: 1px solid var(--color-white);
	border-radius: 0;
	padding: 0;
	width: 100%;
	height: auto;
	box-shadow: inset 0 0 0 rem(50px) var(--color-greyscale-black) !important;
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;
	color: var(--color-white);
	caret-color: var(--color-white);
	background: transparent;
	transition: 0.3s ease-out;
	padding: {
		top: rem(19px);
		bottom: rem(20px);
	};

	&:-webkit-autofill {
		-webkit-text-fill-color: var(--color-white);
		caret-color: var(--color-white);
	}

	&_white {
		box-shadow: inset 0 0 0 rem(50px) var(--color-white) !important;
		color: var(--color-grey-90);
		caret-color: var(--color-grey-90);

		&:-webkit-autofill {
			-webkit-text-fill-color: var(--color-grey-90);
			caret-color: var(--color-grey-90);
		}
	}

	&_burgundy {
		box-shadow: inset 0 0 0 rem(50px) var(--color-burgundy) !important;
		color: var(--color-white);
		caret-color: var(--color-white);

		&:-webkit-autofill {
			-webkit-text-fill-color: var(--color-white);
			caret-color: var(--color-white);
		}
	}

	&_beige {
		box-shadow: inset 0 0 0 rem(50px) var(--color-beige) !important;
		color: var(--color-burgundy);
		caret-color: var(--color-burgundy);

		&:-webkit-autofill {
			-webkit-text-fill-color: var(--color-burgundy);
			caret-color: var(--color-burgundy);
		}
	}

	&_transparent {
		box-shadow: none !important;
		color: var(--color-white);
		caret-color: var(--color-white);
		background-color: transparent;
	}

	&_black {
		box-shadow: inset 0 0 0 rem(50px) var(--color-full-black) !important;
	}

	&_small {
		padding-top: rem(15px);
		padding-bottom: rem(15px);
	}

	&_second {
		padding-top: rem(17px);
		padding-bottom: rem(17px);
	}

	&_not-empty {
		& ~ .form__label {
			top: rem(-2px);
			font-size: $new-font-size__small;
			line-height: $new-line-height__small;
		}

		& ~ .form__clear {
			opacity: 1;
			pointer-events: auto;
		}
	}

	& ~ .error {
		position: absolute;
		right: 0;
		bottom: rem(-4px);
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;
		color: var(--color-red);
		transform: translateY(100%);
	}

	&:focus:not(&_file):not(.visually-hidden) {
		outline: none;
		border-width: 2px;

		& ~ .form__label {
			top: rem(-2px);
			font-size: $new-font-size__small;
			line-height: $new-line-height__small;
		}

		& ~ .form__border {
			&::before {
				transform: translateX(0);
			}
		}

		& ~ .form__clear {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&_file:focus {
		& ~ .form__file-btn  path {
			fill: var(--color-orange);
		}
	}

	&.error {
		& ~ .form__border {
			&::before {
				transform: translateX(0);
				background-color: var(--color-red);
			}
		}
	}

	&.noValidate {
		& ~ label.error {
			display: none !important;
		}
	}

	&_not-box-shadow {
		box-shadow: none !important;

		&:-webkit-autofill {
			-webkit-text-fill-color: var(--color-black);
			caret-color: var(--color-black);
		}
	}

	@include laptop {
		padding: {
			top: rem(17px);
			bottom: rem(17px);
		};
	}
}

.form__label {
	position: absolute;
	left: 0;
	top: rem(20px);
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;
	color: var(--color-grey-60);
	transition: 0.3s ease-out;

	span {
		color: var(--color-orange);
	}

	&_for-small {
		top: rem(15px);
	}

	&_second {
		top: rem(17px);
	}

	&_white {
		color: var(--color-white);
	}

	&_light-grey {
		color: var(--color-grey-20);
	}

	&_red-star {
		span {
			color: var(--color-error);
		}
	}

	@include laptop {
		top: rem(16px);
	}
}

.form__item-email {
	margin-bottom: rem(40px);
}

.form__label-checkbox {
	position: relative;
	width: 100%;
	padding-left: rem(34px);
	display: flex;
	align-items: center;
	min-height: rem(16px);

	&_big {
		padding-left: rem(32px);
	}
}

.form__fake-checked {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-white);
	border-radius: 0;
	width: rem(16px);
	height: rem(16px);
	background-color: transparent;
	transition: 0.3s ease-out;
	cursor: pointer;

	&_orange {
		border-color: var(--color-orange);
	}

	&::before {
		content: "";
		width: rem(18px);
		height: 1px;
		background-color: var(--color-orange);
		transform: rotate(-45deg);
		opacity: 0;
		transition: 0.3s ease-out;
	}

	&_small {
		&::before {
			width: rem(10px);
		}
	}

	&_big {
		width: rem(24px);
		height: rem(24px);
		top: -1px;
	}

	@include laptop {
		top: -1px;
	}

	&_center {
		top: 50%;
		transform: translateY(-50%);
	}
}

.form__checkbox {
	& ~ .error {
		display: none !important;
	}

	&:checked {
		& ~ .form__fake-checked {
			border-color: var(--color-orange);

			&::before {
				opacity: 1;
			}
		}
	}

	&.error {
		& ~ .form__fake-checked {
			border-color: var(--color-red);
		}
	}
}

.form__checkbox-text {
	color: var(--color-white);
	font-size: $new-font-size__small;
	line-height: $new-line-height__small;
	display: inline-block;

	a {
		color: var(--color-orange);

		&:hover {
			color: var(--color-light-orange);
		}
	}

	&_small {
		//font-size: $new-font-size__small;
		//line-height: $new-line-height__small;
	}

	&_black {
		color: var(--color-black);
	}

	@include laptop {
		//font-size: $font-size-mobile-small;
		//line-height: $line-height-mobile-small;
	}

	&_ultra-small {
		font-size: $new-font-size__ultra-small;
		line-height: $new-line-height__ultra-small;
	}

	&_big {
		font-size: $new-font-size__body-second;
		line-height: $new-line-height__body-second;

		@include laptop {
			font-size: $new-font-size__small;
			line-height: $new-line-height__small;
		}
	}

	&_big-2 {
		font-size: $new-font-size__body-second;
		line-height: $new-line-height__body-second;
	}
}

.form__item-checkbox {
	margin-bottom: rem(16px);
}

.form__item-submit {
	margin-top: rem(40px);
	margin-bottom: 0;

	@include laptop {
		margin-top: rem(32px);
	}
}

.form__submit {
	max-width: rem(305px);
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;
	padding: rem(9px);

	@include laptop {
		max-width: rem(432px);
		padding: rem(12px);
	}
}

.form__clear {
	position: absolute;
	display: flex;
	top: rem(3px);
	right: 0;
	cursor: pointer;
	transition: 0.3s ease-out;
	opacity: 0;
	pointer-events: none;

	path {
		transition: 0.3s ease-out;
	}

	&:hover {
		path {
			fill: var(--color-light-orange);
		}
	}

	&:active {
		path {
			fill: var(--color-dark-orange);
		}
	}
}

.form__item_radio {
	display: flex;
	align-items: center;
	gap: rem(24px);

	@include mobile {
		flex-direction: column;
		align-items: flex-start;
	}
}

.form__radio-wrapper {
	display: flex;
	align-items: center;
	gap: rem(12px);
}

.form__label-radio {
	padding: rem(9px);
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: rem(103px);
	border-radius: rem(40px);
	border: 1px solid var(--color-white);
	transition: 0.3s ease-in-out;
	color: var(--color-white);
	cursor: pointer;
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;

	&_orange {
		color: var(--color-orange);
		border-color: var(--color-orange);
	}
}

.form__radio-text {
	max-width: rem(447px);
	width: 100%;

	@include laptop {
		max-width: rem(347px);
	}
}

.form__radio {
	&:checked {
		& + .form__label-radio {
			background-color: var(--color-orange);
			border-color: var(--color-orange);
			color: var(--color-white);
		}
	}
}

.form__textarea {
	resize: none;
	width: 100%;
	height: auto;
	border: none;
	margin-top: rem(19px);
	margin-bottom: rem(19px);
	padding: 0;
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;
	//height: rem(60px);
	max-height: rem(110px);
	color: var(--color-grey-90);
	caret-color: var(--color-grey-90);

	&:focus {
		outline: none;

		& ~ .form__label {
			top: rem(-2px);
			font-size: $new-font-size__small;
			line-height: $new-line-height__small;
		}

		& ~ .form__border {
			&::before {
				transform: translateX(0);
			}
		}

		& ~ .form__clear {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&.form__textarea_not-empty {

		& ~ .form__label {
			top: rem(-2px);
			font-size: $new-font-size__small;
			line-height: $new-line-height__small;
		}

		& ~ .form__clear {
			opacity: 1;
			pointer-events: auto;
		}
	}

	& ~ .error {
		position: absolute;
		right: 0;
		bottom: rem(-4px);
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;
		color: var(--color-red);
		transform: translateY(100%);
	}

	&.error {
		& ~ .form__border {
			&::before {
				transform: translateX(0);
				background-color: var(--color-red);
			}
		}
	}
}

.form__file-label {
	width: 100%;
	height: rem(56px);
	display: grid;
	align-items: center;
	padding-top: rem(19px);
	padding-bottom: rem(19px);
	padding-right: rem(56px);
	position: relative;
}

.form__file-btn {
	display: inline-flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: rem(16px);
}

.form__file-text {
	font-size: $new-font-size__body-base_tablet;
	line-height: $new-line-height__body-base_tablet;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.form__button-remove {
	position: absolute;
	width: rem(24px);
	height: rem(24px);
	z-index: 2;
	top: calc(50% - 12px);
	right: rem(16px);
	display: none;
	align-items: center;
	justify-content: center;

	&__svg {
		width: rem(16px);
		height: rem(16px);

		svg {
			width: 100%;
			height: 100%;
		}
	}

	svg {
		fill: var(--color-grey-60);
	}
}

.form__select {
	position: relative;
	width: 100%;

	.form__label {
		@include mobile {
			width: rem(280px);
		}
	}
}

.form__select-filled {
	.form__label {
		top: rem(-2px);
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;

		@include mobile {
			width: rem(320px);
		}
	}
}

.form__select-toggle {
	display: flex;
	align-items: center;
	width: 100%;
	padding: {
		top: rem(19px);
		bottom: rem(20px);
	};
	color: var(--color-grey-90);
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;
	background-color: transparent;
	cursor: pointer;
	user-select: none;

	&::after {
		flex-shrink: 0;
		width: rem(24px);
		height: rem(24px);
		background-image: url('/images/sprites/svg/select-arrow.svg');
		content: "";
		transform: rotate(180deg);
		margin-left: auto;
	}

	&:focus {
		outline: none;
	}
}

.form__select-show .form__select-toggle::after {
	transform: rotate(360deg);
}

.form__select-dropdown {
	position: absolute;
	top: rem(64px);
	right: 0;
	left: 0;
	z-index: 2;
	display: none;
	max-height: rem(210px);
	overflow-y: auto;
	background-color: var(--color-grey-100);
}

.form__select-show .form__select-dropdown {
	display: block;
}

.form__select-show .form__border_for-white {
	background-color: var(--color-orange);
}

.form__select-options {
	margin: 0;
	padding: 0;
	list-style: none;
}

.form__select-option {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: rem(42px);
	padding: 0 rem(16px);
	color: var(--color-grey-90);
	font-size: $new-font-size__body-second;
	line-height: $new-line-height__body-second;

	@include mobile {
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;
	}
}

.form__select-option_selected {

	&::after {
		width: rem(24px);
		height: rem(24px);
		color: #0277bd;
		background-image: url('/images/sprites/svg/select-check.svg');
		background-size: cover;
		content: "";
	}
}

button[name="web_form_submit"].notEmpty {
	pointer-events: none;
}

.form__suggestions-wrapper {
	.suggestions-wrapper {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		transform: translateY(100%);
		z-index: 3;
	}

	.suggestions-suggestions {
		max-height: rem(180px);
		overflow: auto;
		background-color: var(--color-grey-100);
		border: none;
	}

	.suggestions-suggestion {
		font-size: $new-font-size__body-second;
		line-height: $new-line-height__body-second;
		padding: rem(10px) rem(16px);
		color: var(--color-grey-90);

		strong {
			color: var(--color-blue);
		}

		&:hover {
			background: var(--color-grey-10);
		}
	}

	.suggestions-selected {
		background: var(--color-grey-10);

		&:hover {
			background: var(--color-grey-10);
		}
	}

	.suggestions-subtext {
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;
		color: var(--color-grey-90);
	}

	.suggestions-hint {
		padding: rem(8px) rem(16px);
		color: var(--color-grey-60);
		font-size: $new-font-size__small;
		line-height: $new-line-height__small;
	}
}
