.link {
	text-decoration: underline;
	text-underline-offset: rem(3px);

	&:hover {
		text-decoration-color: transparent;
	}
}

.link_second {
	color: var(--color-green);
	font-weight: 700;

	&:hover {
		color: var(--color-dark-green);
		text-decoration-color: var(--color-green);
	}

	&:active {
		color: var(--color-dark);
		text-decoration-color: var(--color-dark);
	}
}
