.page {
	height: 100%;
	scrollbar-gutter: stable;

	&_overflow-hidden {
		overflow: hidden;
	}

	@include onlyLaptop {
		font-size: 1.3vw;
	}

	@include ultraSmall {
		font-size: 3.4vw;
	}
}

.page__body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--color-black);
	background-color: var(--color-white);
	font: {
		size: $font-size-base;
		family: var(--font-primary);
		weight: 400;
	};
	line-height: $line-height-base;
}
