.page-header {
	position: relative;

	&::before {
		content: "";
		display: block;
		height: rem(160px);

		@include laptop {
			height: rem(82px);
		}
	}
}

.page-header__head {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition: 0.3s ease-out;
	z-index: 4;
	padding-top: rem(40px);
	padding-bottom: rem(40px);

	&.fixed {
		position: fixed;
		padding-top: 0;
		padding-bottom: 0;
		background-color: var(--color-white);
	}

	&_hide {
		@include onlyDesctop {
			transform: translateY(-100%);
		}
	}

	@include laptop {
		padding-top: 0;
		padding-bottom: 0;
		background-color: var(--color-white);
	}
}

.page-header__link-logo {
	display: flex;
	flex-shrink: 0;
	margin-right: auto;

	@include laptop {
		margin-right: rem(32px);
	}
}

.page-header__logo {
	width: rem(100px);
}

.page-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: rem(15px) rem(48px) rem(15px) rem(62px);
	border-radius: rem(100px);
	background-color: var(--color-white);

	@include laptop {
		padding: rem(16px) 0;
		justify-content: flex-start;
		position: relative;
	}
}

.page-header__consultation {
	width: rem(158px);
	margin-right: rem(36px);
	flex-shrink: 0;

	@include laptop {
		order: 4;
		margin-right: 0;
	}
}

.page-header__nav {
	transition: opacity 0.3s ease-out;
	overflow: hidden;
	position: relative;
	flex-grow: 1;
	height: rem(50px);

	&_hide {
		@include onlyDesctop {
			display: none;
			opacity: 0;

			& + .page-header__close-search {
				display: flex;
			}
		}
	}

	@include laptop {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		width: calc(100% + 3rem);
		height: calc(100dvh - 5.125rem + 1px);
		left: rem(-24px);
		top: rem(81px);
		background-color: var(--color-white);
		padding: rem(24px);
		overflow: auto;

		&.open {
			visibility: visible;
			opacity: 1;
			pointer-events: initial;
		}
	}

	@include mobile {
		width: calc(100% + 2rem);
		left: rem(-16px);
	}
}

.page-header__menu-list {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: rem(35px);

	@include laptop {
		position: static;
		transform: none;
	}
}

.page-header__search {
	margin-right: rem(24px);
	width: rem(32px);
	height: rem(50px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	transition: 0.3s ease-out;

	&_opened {
		width: rem(500px);

		.page-header__search-wrapper {
			pointer-events: initial;
			opacity: 1;
			visibility: visible;
		}
	}

	@include laptop {
		width: auto;
		height: auto;
		margin-left: auto;
		position: static;
	}
}

.page-header__search-wrapper {
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease-out;
	width: 100%;
	display: flex;
	align-items: center;
	padding: rem(2px);
	padding-left: rem(19px);
	border-radius: rem(100px);
	border: 1px solid var(--color-grey);
	transform: translateX(rem(9px));
	visibility: hidden;

	&.has-error {
		border-color: var(--color-red);

		.page-header__search-input {
			&::-webkit-input-placeholder {
				color: var(--color-red);
			}

			&::-moz-placeholder {
				color: var(--color-red);
			}

			&::-moz-placeholder {
				color: var(--color-red);
			}

			&::-ms-input-placeholder {
				color: var(--color-red);
			}

			&::placeholder {
				color: var(--color-red);
			}
		}

		@include laptop {
			.page-header__search-form {
				border-color: var(--color-red);
			}
		}
	}

	@include laptop {
		position: absolute;
		width: 100%;
		left: 50%;
		bottom: 1px;
		transform: translateX(-50%) translateY(100%);
		padding: rem(16px) 0;
		border: none;
		border-radius: 0;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			width: 100vw;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
			background-color: var(--color-white);
		}
	}
}

.page-header__open-search {
	width: rem(32px);
	height: rem(32px);
	transition: 0.3s ease-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&:hover {
		.page-header__search-svg-open {
			stroke: var(--color-dark-green);
		}
	}

	&:active {
		.page-header__search-svg-open {
			stroke: var(--color-dark);
		}
	}

	&.active {
		@include onlyDesctop {
			opacity: 0;
			pointer-events: none;
		}
	}

	@include laptop {
		position: static;
		transform: none;
		margin-left: auto;
		flex-shrink: 0;
	}
}

.page-header__search-svg-open {
	stroke: var(--color-black);
	width: 100%;
	height: 100%;
}

.page-header__close-search {
	display: none;
	align-items: center;
	gap: rem(4px);
	height: rem(32px);
	justify-content: center;
	margin-right: rem(40px);

	&:hover {
		.page-header__circle {
			border-color: var(--color-green);
		}
	}
}

.page-header__circle {
	width: rem(6px);
	height: rem(6px);
	border: rem(2px) solid var(--color-black);
	border-radius: 50%;
	transition: 0.3s ease-out;
}

.page-header__search-input {
	padding: 0;
	padding-right: rem(16px);
	border: none;
	width: calc(100% - 2.75rem);
	appearance: none;
	border-radius: 0;
	height: auto;
	box-shadow: inset 0 0 0 rem(50px) var(--color-white) !important;
	font-size: $font-size-second;
	line-height: 1;
	color: var(--color-black);
	caret-color: var(--color-black);
	background: transparent;
	transition: 0.3s ease-out;

	&:-webkit-autofill {
		-webkit-text-fill-color: var(--color-black);
		caret-color: var(--color-black);
	}

	&::-webkit-input-placeholder {
		transition: 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-moz-placeholder {
		transition: 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-moz-placeholder {
		transition: 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-ms-input-placeholder {
		transition: 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::placeholder {
		transition: 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&:focus {
		outline: none;

		&::-webkit-input-placeholder {
			opacity: 0;
		}
		&::-moz-placeholder {
			opacity: 0;
		}
		&:-moz-placeholder {
			opacity: 0;
		}
		&:-ms-input-placeholder {
			opacity: 0;
		}
	}
}

.page-header__search-form {
	display: flex;
	align-items: center;
	width: 100%;

	label.error {
		display: none !important;
	}

	@include laptop {
		padding: rem(2px);
		padding-left: rem(19px);
		border-radius: rem(100px);
		border: 1px solid var(--color-grey);
	}
}

.page-header__btn {
	width: rem(44px);
	height: rem(44px);
	border-radius: 50%;
	background-color: var(--color-green);
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before, &::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		transition: 0.3s ease-out;
		opacity: 0;
	}

	&::before {
		background: linear-gradient(to right, #095909 0%, #0B3E0E 100%);
	}

	&::after {
		background-color: var(--color-dark-green);
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}

	&:active {
		&::after {
			opacity: 1;
		}
	}
}

.page-header__svg-submit {
	width: rem(32px);
	height: rem(32px);
	position: relative;
	stroke: var(--color-white);
}

.page-header__language {
	position: relative;
	width: rem(107px);

	@include laptop {
		display: none;
	}
}

.page-header__language-dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: rem(6px);
	transition: opacity 0.3s ease-out;
	left: 0;
	bottom: rem(-6px);
	width: 100%;
	transform: translateY(100%);

	pointer-events: none;
	opacity: 0;
	visibility: hidden;

	&::before {
		content: "";
		position: absolute;
		width: calc(100% + 0.75rem);
		height: calc(100% + 0.4375rem);
		top: rem(-1px);
		left: rem(-6px);
		border-radius: 0 0 rem(20px) rem(20px);
		background-color: var(--color-white);
	}

	&.open {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
	}
}

.page-header__language-toggle {
	display: flex;
	align-items: center;
	gap: rem(4px);
	width: 100%;
	height: rem(44px);
	padding: rem(6px);
	padding-left: rem(42px);
	border-radius: rem(100px);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		z-index: 2;
		width: rem(32px);
		height: rem(32px);
		background-repeat: no-repeat;
		background-size: 100%;
		top: 50%;
		left: rem(6px);
		transform: translateY(-50%);
	}

	&::after {
		content: "";
		position: absolute;
		width: calc(100% + 0.75rem);
		height: calc(100% + 0.75rem);
		top: rem(-6px);
		left: rem(-6px);
		border-radius: rem(20px) rem(20px) 0 0;
		transition: 0.3s ease-out;
		background-color: var(--color-white);
		opacity: 0;
	}

	.page-header__cur-lang-bg {
		position: absolute;
		left: 0;
		right: 0;
		border-radius: rem(100px);
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: 0.3s ease-out;
	}

	&_ru {
		&::before {
			background-image: url($baseDirMain + "flag-ru.webp");
		}
	}

	&_en {
		&::before {
			background-image: url($baseDirMain + "flag-en.webp");
		}
	}

	&_de {
		&::before {
			background-image: url($baseDirMain + "flag-de.webp");
		}
	}

	&_fr {
		&::before {
			background-image: url($baseDirMain + "flag-fr.webp");
		}
	}

	&:hover, &:active {
		.page-header__cur-lang-bg {
			background-color: var(--color-green);
		}

		.page-header__language-current {
			color: var(--color-white);
		}

		.page-header__language-arrow {
			path {
				stroke: var(--color-white);
			}
		}
	}

	&:active {
		.page-header__cur-lang-bg {
			background-color: var(--color-dark-green);
		}
	}

	&.active {
		&::after {
			opacity: 1;
		}

		.page-header__language-arrow {
			transform: rotate(180deg);
		}
	}
}

.page-header__language-current {
	text-transform: uppercase;
	font-weight: 700;
	font-size: $font-size-second;
	line-height: 1;
	transition: 0.3s ease-out;
	position: relative;
	z-index: 2;
}

.page-header__language-arrow {
	width: rem(32px);
	height: rem(32px);
	position: relative;
	z-index: 2;

	path {
		transition: 0.3s ease-out;
	}
}

.page-header__language-item {
	display: flex;
	position: relative;
}

.page-header__language-link {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: rem(44px);
	font-size: $font-size-second;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: rem(42px);
	border-radius: rem(100px);

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: rem(6px);
		transform: translateY(-50%);
		width: rem(32px);
		height: rem(32px);
		background-repeat: no-repeat;
		background-size: 100%;
	}

	&_ru {
		&::before {
			background-image: url($baseDirMain + "flag-ru.webp");
		}
	}

	&_en {
		&::before {
			background-image: url($baseDirMain + "flag-en.webp");
		}
	}

	&_de {
		&::before {
			background-image: url($baseDirMain + "flag-de.webp");
		}
	}

	&_fr {
		&::before {
			background-image: url($baseDirMain + "flag-fr.webp");
		}
	}

	&:hover {
		background-color: var(--color-light-green);
	}

	&:active {
		color: var(--color-white);
		background-color: var(--color-green);
	}

	@include laptop {
		padding-right: rem(6px);
	}
}


.page-header__burger {
	width: rem(32px);
	height: rem(32px);
	flex-shrink: 0;
	position: relative;
	display: none;

	&.active {
		.page-header__burger-item {

			&:first-child {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			&:last-child {
				bottom: 50%;
				transform: translateY(50%) rotate(-45deg);
			}
		}
	}

	@include laptop {
		display: flex;
	}
}

.page-header__burger-item {
	position: absolute;
	width: 100%;
	height: rem(2px);
	left: 0;
	background-color: var(--color-black);
	transition: 0.3s ease-out;

	&:first-child {
		top: rem(6px);
	}

	&:last-child {
		bottom: rem(6px);
	}
}
