.pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: rem(9px);

	&.swiper-pagination-lock {
		display: none;
	}
}

.pagination__item {
	width: rem(60px);
	height: rem(6px);
	border-radius: rem(15px);
	cursor: pointer;
	transition: 0.3s ease-out;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}

	&_white {
		background-color: var(--color-white);
	}

	&_green {
		background-color: var(--color-green);
	}

	&.is-active {
		opacity: 1;
	}

	@include mobile {
		width: rem(50px);
	}
}
