.page {
	height: 100%;

	@include laptop {
		&_overflow-hidden {
			overflow: hidden;
		}
	}

	@include onlyLaptop {
		font-size: .95vw;
	}
}

.page__body {
	min-height: 100%;
	line-height: $new-line-height__body-base;
	color: var(--color-black);
	background-color: var(--color-white);
	font: {
		family: var(--font-primary);
		size: $new-font-size__body-base;
		weight: 400;
	};

	&_black {
		background-color: var(--color-full-black);
	}

	@include laptop {
		font-size: $new-font-size__body-base_tablet;
		line-height: $new-line-height__body-base_tablet;
	}
}
