.popup {
	width: 100%;
	margin: rem(50px) auto;
	position: relative;
	padding: rem(80px) rem(150px);
	border-radius: rem(20px);
	background-color: var(--color-white);

	@include tablet {
		padding: rem(56px);
	}

	@include mobile {
		padding: rem(48px);
	}
}

.popup__close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: rem(32px);
	right: rem(32px);
	width: rem(32px);
	height: rem(32px);

	&:hover {
		.success__svg {
			path {
				stroke: var(--color-green);
			}
		}
	}

	&:active {
		.success__svg {
			path {
				stroke: var(--color-dark-green);
			}
		}
	}

	@include laptop {
		top: rem(24px);
		right: rem(24px);
		width: rem(24px);
		height: rem(24px);
	}

	@include mobile {
		top: rem(16px);
		right: rem(16px);
	}
}

.popup__svg {
	width: 100%;
	height: 100%;

	path {
		transition: 0.3s ease-out;
		stroke: var(--color-black);
	}
}

.mfp-bg {
	opacity: 1;
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 1;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
