.title-h3 {
	margin: 0;
	font-size: $new-font-size__title-3;
	line-height: $new-line-height__title-3;

	&_dark {
		color: var(--color-black);
	}

	&_white {
		color: var(--color-white);
	}

	&_burgundy {
		color: var(--color-burgundy);
	}

	&_uppercase {
		text-transform: uppercase;
	}

	@include laptop {
		font-size: $new-font-size__title-3_tablet;
		line-height: $new-line-height__title-3_tablet;
	}
}
