.title-h3 {
	margin: 0;
	font-size: rem(64px);
	font-weight: 800;
	line-height: 1;

	&_white {
		color: var(--color-white);
	}

	@include laptop {
		font-size: rem(56px);
	}

	@include mobile {
		font-size: rem(48px);
	}
}
