section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h2 FAQ
		.tabs.faq__tabs.js-tabs-init(role="tablist")
			.tabs__tabs-btn-wrapper.faq__btn-wrapper
				button.link.text.text_sm.tabs__tabs-btn.tabs__tabs-btn_active(type="button" id="tab-faq-1" role="tab" aria-selected="true" aria-controls="panel-faq-1" tabindex="0") работа с&nbsp;агентством
				button.link.text.text_sm.tabs__tabs-btn(type="button" id="tab-faq-2" role="tab" aria-selected="false" aria-controls="panel-faq-2" tabindex="-1") о&nbsp;переезде в&nbsp;Россию
				button.link.text.text_sm.tabs__tabs-btn(type="button" id="tab-faq-3" role="tab" aria-selected="false" aria-controls="panel-faq-3" tabindex="-1") о&nbsp;проживании в&nbsp;России
			.tabs__panels.faq__panels
				#panel-faq-1.tabs__panel.faq__panel(role="tabpanel" aria-labelledby="tab-faq-1")
					h3.title-h3.title-h3_second.faq__title-h3 В&nbsp;этом разделе собраны ответы на&nbsp;самые частые вопросы о&nbsp;нашем комплексном сопровождении переезда в&nbsp;Россию.
					.faq__list
						details.faq__item
							summary.text.text_mid.faq__summary-title Какие услуги вы оказываете?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Агентство оказывает комплексное миграционное сопровождение: от консультаций и оформления документов (РВП, ВНЖ, гражданство) до помощи в поиске жилья, трудоустройстве, устройстве детей в школы и культурной интеграции.
						details.faq__item
							summary.text.text_mid.faq__summary-title По&nbsp;каким принципам вы&nbsp;работаете?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Наша работа основана на&nbsp;профессионализме, конфиденциальности и&nbsp;системном подходе.
								p.text.faq__text Мы&nbsp;обеспечиваем прозрачный и&nbsp;предсказуемый процесс переезда, оказывая полное сопровождение на&nbsp;всех этапах.
						details.faq__item
							summary.text.text_mid.faq__summary-title Как вы&nbsp;обеспечиваете конфиденциальность моих данных?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Мы&nbsp;обеспечиваем полную конфиденциальность всех данных и&nbsp;документов.
								p.text.faq__text Всё, что вы&nbsp;предоставите, останется только в&nbsp;рамках пользования сотрудниками агентства &laquo;ОКА&raquo;.
						details.faq__item
							summary.text.text_mid.faq__summary-title Каков ваш опыт? Скольким иностранцам вы&nbsp;уже помогли переехать?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Наше агентство обладает успешным опытом сопровождения иностранных граждан и&nbsp;семей&nbsp;&mdash; уже более 90&nbsp;человек переехали с&nbsp;нашей помощью.
								p.text.faq__text Кроме того, некоторые сотрудники агентства, включая генерального директора Якоба Пиннекера, сами являются переселенцами из&nbsp;других стран.
						details.faq__item
							summary.text.text_mid.faq__summary-title Как строится процесс работы и&nbsp;взаимодействия?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Процесс выстроен как консалтинг полного цикла: от&nbsp;первичной консультации со&nbsp;специалистом из&nbsp;отдела консьержа до&nbsp;полного сопровождения на&nbsp;всех этапах, включая взаимодействие с&nbsp;государственными органами и&nbsp;решение бытовых вопросов после переезда.
				#panel-faq-2.tabs__panel.faq__panel.is-hidden(role="tabpanel" aria-labelledby="tab-faq-2" aria-hidden="true")
					h3.title-h3.title-h3_second.faq__title-h3 Этот раздел посвящен самым острым и&nbsp;практическим проблемам, которые возникают до&nbsp;и&nbsp;во&nbsp;время переезда.
					.faq__list
						details.faq__item
							summary.text.text_mid.faq__summary-title С&nbsp;чего мне начать процесс переезда?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Рекомендуем начать с&nbsp;консультации в&nbsp;нашем агентстве.
								p.text.faq__text Мы&nbsp;проанализируем вашу ситуацию и&nbsp;поможем определить оптимальный путь переезда, например, через получение разрешения на&nbsp;временное проживание (РВП).
						details.faq__item
							summary.text.text_mid.faq__summary-title Я&nbsp;не&nbsp;знаю какие документы оформлять и&nbsp;как сделать это правильно. Вы&nbsp;помогаете в&nbsp;такой ситуации?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Да, мы&nbsp;предоставляем полный миграционный консалтинг и&nbsp;помогаем подготовить необходимый пакет документов для каждого этапа (РВП, ВНЖ, гражданство) в&nbsp;строгом соответствии с&nbsp;требованиями законодательства.
						details.faq__item
							summary.text.text_mid.faq__summary-title Нужно&nbsp;ли мне быть в&nbsp;России, чтобы начать готовиться к&nbsp;процессу переезда?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Не&nbsp;обязательно. Мы&nbsp;предоставляем консультационные услуги по&nbsp;любым вопросам онлайн и&nbsp;поможем вам подготовить всё необходимое для начала переезда в&nbsp;Россию.
						details.faq__item
							summary.text.text_mid.faq__summary-title Какие документы мне нужно подготовить заранее? Нужно&nbsp;ли их&nbsp;переводить и&nbsp;заверять у&nbsp;себя в&nbsp;стране?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text До&nbsp;приезда в&nbsp;Россию вам нужно будет подготовить определенный список документов и&nbsp;апостилировать их&nbsp;до&nbsp;приезда в&nbsp;Россию.
								p.text.faq__text Точный перечень документов будет точно известен во&nbsp;время консультации по&nbsp;вашей ситуации.
						details.faq__item
							summary.text.text_mid.faq__summary-title Помогаете&nbsp;ли вы&nbsp;с&nbsp;поиском жилья с&nbsp;временной регистрацией?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Да, мы&nbsp;помогаем с&nbsp;подбором арендного жилья и&nbsp;покупкой недвижимости, а&nbsp;также с&nbsp;оформлением временной регистрации.
				#panel-faq-3.tabs__panel.faq__panel.is-hidden(role="tabpanel" aria-labelledby="tab-faq-3" aria-hidden="true")
					h3.title-h3.title-h3_second.faq__title-h3 Вопросы о&nbsp;первых шагах и&nbsp;обустройстве на&nbsp;новом месте.
					.faq__list
						details.faq__item
							summary.text.text_mid.faq__summary-title Как мне жить и&nbsp;работать в&nbsp;России, если я&nbsp;не&nbsp;знаю русского языка?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Мы&nbsp;оказываем комплексную поддержку для преодоления этого барьера.<br> Мы&nbsp;организуем курсы русского языка как иностранного в&nbsp;одном из&nbsp;ведущих лингвистических университетов&nbsp;&mdash; НГЛУ им. Добролюбова.
								p.text.faq__text После обучения вы&nbsp;получите официальный сертификат. Наш консьерж-сервис также поможет в&nbsp;бытовых ситуациях, требующих общения.
						details.faq__item
							summary.text.text_mid.faq__summary-title Как мне открыть банковский счет в&nbsp;первые дни после приезда?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Это стандартная процедура. С&nbsp;вашим национальным паспортом и&nbsp;временной регистрацией мы&nbsp;поможем вам быстро открыть счет в&nbsp;российском банке и&nbsp;настроить мобильный банк для удобных платежей.
						details.faq__item
							summary.text.text_mid.faq__summary-title Сможет&nbsp;ли мой ребёнок учиться в&nbsp;школе или университете?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Вместе с&nbsp;нашим партнером, &laquo;Школой 800&raquo;, мы&nbsp;реализуем специальную программу адаптации.
								p.text.faq__text Она включает языковую подготовку, помощь тьютора и&nbsp;включение ребенка в&nbsp;школьную жизнь через кружки и&nbsp;мероприятия.
						details.faq__item
							summary.text.text_mid.faq__summary-title Действительны&nbsp;ли в&nbsp;России мои водительские права? Нужно&nbsp;ли их&nbsp;менять?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Ваши национальные права действительны в&nbsp;России. Однако для управления автомобилем с&nbsp;российскими номерами и&nbsp;для замены прав на&nbsp;российские в&nbsp;будущем потребуется пройти процедуру оформления. Мы&nbsp;проконсультируем вас по&nbsp;всем юридическим аспектам.
						details.faq__item
							summary.text.text_mid.faq__summary-title Есть беспокойство, что возникнет чувство одиночества в&nbsp;новой стране без друзей и&nbsp;знакомых. Помогаете&nbsp;ли вы&nbsp;с&nbsp;интеграцией в&nbsp;местное сообщество?
								span.faq__btn-toggler
							.faq__answer
								p.text.faq__text Да, мы&nbsp;интегрируем вас в&nbsp;местное сообщество переселенцев. Мы&nbsp;организуем мероприятия и&nbsp;встречи, знакомим с&nbsp;местными жителями и&nbsp;другими иностранными гражданами, помогаем найти единомышленников и&nbsp;интегрироваться в&nbsp;социальную и&nbsp;культурную жизнь города.
