section.section.case-hero.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-hero__header
			h1.title-h2.case-hero__title Семья Кларот
		.case-hero__media
			img.case-hero__img(src=`${baseDirCurImg}hero-klarot-1.webp` srcset=`${baseDirCurImg}hero-klarot-1@2x.webp 2x` width="1170" height="473" alt="Семья Кларот — фото")
			.case-hero__bubble.case-hero__bubble_2.white-block
				p.text.case-hero__bubble-text &laquo;Россия дала нам возможность воплотить в&nbsp;жизнь проект, который меняет мир к&nbsp;лучшему&raquo;
