section.section.case-adaptation.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-adaptation__header
			h2.title-h2.case-adaptation__title Новая реальность: адаптация и&nbsp;успех
		.case-adaptation__grid
			.case-adaptation__col.case-adaptation__col_1
				p.text.text_mid.case-adaptation__lead В&nbsp;начале 2025 года путь привёл их&nbsp;в&nbsp;Россию, и&nbsp;они выбрали Нижегородскую область своим новым домом. Сейчас активно погружаются в&nbsp;жизнь местного сообщества.
				p.text.text_mid.case-adaptation__lead <span class="text__accent">Они начали разработку своего проекта: &laquo;Black to&nbsp;Green&raquo;&nbsp;&mdash; проект международного уровня</span>, посвященный производству биоугля, улучшению плодородия почв и&nbsp;предоставлению решений для засушливых регионов.
			.case-adaptation__col.case-adaptation__col_2
				.case-adaptation__note.glass-card
					p.text.text_mid.case-adaptation__note-title Точка&nbsp;А
					p.text.text_medium-1.case-adaptation__text Отец и&nbsp;дочь, познавшие жизнь в&nbsp;разных странах, объединенные решимостью начать новую главу в&nbsp;России
				.case-adaptation__note-second.green-block
					p.text.text_mid.text_white.case-adaptation__note-title Точка&nbsp;Б
					p.text.text_medium-1.text_white.case-adaptation__text Успешный семейный бизнес в&nbsp;агропромышленном секторе, проект международного масштаба и&nbsp;планы Эллы на&nbsp;получение высшего образования в&nbsp;российском университете
