.promo-slider {
	height: rem(914px);
	min-height: 100vh;
	margin-top: rem(-160px);
	display: flex;

	@include laptop {
		height: auto;
		min-height: 100dvh;
		margin-top: rem(-82px);
		flex-direction: column;
	}
}

.promo-slider__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.promo-slider__slider {
	width: 100%;
	height: 100%;

	@include laptop {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

.promo-slider__content {
	padding-top: rem(265px);
	height: 100%;

	@include laptop {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-top: rem(146px);
	}
}

.promo-slider__card {
	width: 100%;
	max-width: rem(670px);
	border-radius: rem(20px);
	background-color: rgba(255,255,255,0.6);
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3.125rem);
	padding: rem(30px);
}

.promo-slider__title {
	color: rgba(44, 32, 29, 1);
	font-size: rem(64px);
	line-height: 1;
	letter-spacing: rem(-1.8px);
	font-weight: 800;
	margin-bottom: rem(22px);

	@include laptop {
		font-size: rem(48px);
	}

	@include mobile {
		font-size: rem(32px);
	}
}

.promo-slider__text {
	color: rgba(44, 32, 29, 1);
	max-width: rem(636px);
	margin-bottom: rem(68px);
}

.promo-slider__btn {
	max-width: rem(240px);
}

.promo-slider__pagination {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	bottom: rem(40px);
}

.promo-slider__slider-item {
	padding-bottom: rem(64px);
	height: auto;

	@include laptop {
		padding-bottom: rem(104px);
	}
}

.promo-slider__slider-wrapper {
	@include laptop {
		flex-grow: 1;
	}
}
