section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Поддержка по&nbsp;всем направлениям:</b> мы&nbsp;консультируем по&nbsp;вопросам устройства детей в&nbsp;сады и&nbsp;школы, подбора домашнего персонала, оформления недвижимости и&nbsp;автомобилей, трудоустройства, а&nbsp;также ведением миграционного учета.
