section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_1.svg` width="40" height="40" alt="Люди — иностранные семьи, переезжающие в Россию")
							p.text.difficulties__text Для иностранных семей, переезжающих в&nbsp;Россию.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_2.svg` width="40" height="40" alt="Весы — помощь при переезде без ошибок")
							p.text.difficulties__text Для иностранных граждан, которые хотят минимизировать бюрократические и&nbsp;финансовые ошибки при переезде.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-5-icon_3.svg` width="40" height="40" alt="Лист — комфорт и спокойствие при адаптации")
							p.text.difficulties__text Для всех, кто хочет избежать стресса при решении любых повседневных вопросов в&nbsp;новой стране.
