section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Комплексное сопровождение для жизни в&nbsp;России
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Агентство &laquo;ОКА&raquo; будет вашим личным помощником в&nbsp;России:</b> от&nbsp;бытовых вопросов до&nbsp;юридического сопровождения.
			p.text.service-intro__text Мы&nbsp;помогаем иностранцам и&nbsp;их&nbsp;семьям комфортно устроиться в&nbsp;России: решаем бытовые, административные и&nbsp;миграционные вопросы, чтобы вы&nbsp;могли сосредоточиться на&nbsp;своих целях.
