section.section.case-section.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-section__header
			h2.title-h2.case-section__title Основатели российско-германского эко-поселения
		p.text.text_mid.case-section__lead Ремо&nbsp;&mdash; профессиональный электрик, а&nbsp;его жена Биргит&nbsp;&mdash; медсестра. Вместе в&nbsp;Германии пара построила процветающий бизнес.
		.case-section__grid
			.case-section__media
				picture.case-section__picture
					source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}case-section-4@2x.webp`)
					img.case-section__img(src=`${baseDirCurImg}case-section-4.webp` srcset=`${baseDirCurImg}case-section-4@2x.webp 2x` width="570" height="422" alt="Мужчина с микрофоном выступает перед аудиторией")
			.case-section__note.glass-card
				p.text.text_mid.case-section__text Но&nbsp;глубокая симпатия к&nbsp;России привела их&nbsp;к&nbsp;судьбоносному решению: оставить налаженную жизнь и&nbsp;начать все заново в&nbsp;Нижегородской области.
				p.text.text_mid.case-section__text Этот смелый шаг перерос в&nbsp;уникальный проект&nbsp;&mdash; <span>российско-германское эко-поселение RuDe</span>, которое стало мостом между культурами
