section.section.case-adaptation.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-adaptation__header
			h2.title-h2.case-adaptation__title RuDe: немецкое вдохновение в&nbsp;сердце Нижегородской области
		.case-adaptation__grid
			.case-adaptation__col.case-adaptation__col_1
				p.text.text_mid.case-adaptation__lead В&nbsp;марте 2024 года супруги получили гражданство России в&nbsp;соответствии с&nbsp;особым распоряжением Президента.
				p.text.text_mid.case-adaptation__lead Сегодня Ремо выступает &laquo;послом&raquo; региона среди европейцев, популяризатором жизни в&nbsp;России и&nbsp;Советником Губернатора по&nbsp;вопросам переселения. Биргит&nbsp;&mdash; его неизменная опора.
			.case-adaptation__col.case-adaptation__col_2
				.case-adaptation__note.glass-card
					p.text.text_mid.case-adaptation__note-title Точка&nbsp;А
					p.text.text_medium-1.case-adaptation__text Успешные предприниматели в&nbsp;Германии, владельцы устоявшегося бизнеса, чья жизнь была полностью предсказуемой
				.case-adaptation__note-second.green-block
					p.text.text_mid.text_white.case-adaptation__note-title Точка&nbsp;Б
					p.text.text_medium-1.text_white.case-adaptation__text Основатели уникального эко-поселения RuDe, Советники Губернатора Нижегородской области и&nbsp;признанные &laquo;послы&raquo; региона, получившие гражданство по&nbsp;особому указу президента
