section.section.cases-footer
	.wrapper
		.cases-footer__wrapper
			button.btn.btn_white.cases-footer__btn.hidden
				span Поделиться
			.cases-footer__navigation.slider-nav
				a.slider-nav__arrow.slider-nav__arrow-prev.cases-footer__nav.cases-footer__nav_prev(href=`${langPrefix}/cases/barben/`)
					span.visually-hidden Предыдущий кейс
					.slider-nav__disabled-bg
					| <svg class="slider-nav__svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
					|     <path d="M0 0L22 0" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="matrix(-1,0,0,1,27,16)" />
					|     <path d="M0 0L9 9L0 18" fill-rule="nonzero" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="matrix(-1,0,0,1,14,7)" />
					| </svg>
				a.slider-nav__arrow.slider-nav__arrow-next.cases-footer__nav.cases-footer__nav_next(href=`${langPrefix}/cases/klarot/`)
					span.visually-hidden Следующий кейс
					.slider-nav__disabled-bg
					| <svg class="slider-nav__svg" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
					|     <path d="M5 16L27 16" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
					|     <path d="M18 7L27 16L18 25" fill-rule="nonzero" stroke="rgb(255,255,255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
					| </svg>
