section.section.case-hero.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-hero__header
			h1.title-h2.case-hero__title Семья Кирш
		.case-hero__media
			img.case-hero__img(src=`${baseDirCurImg}hero-kirsch.webp` srcset=`${baseDirCurImg}hero-kirsch@2x.webp 2x` width="1170" height="473" alt="Семья Кирш — фото")
			.case-hero__bubble.case-hero__bubble_4.white-block
				p.text.case-hero__bubble-text &laquo;Мы&nbsp;строим не&nbsp;просто дом, а&nbsp;наследие&nbsp;&mdash; проект, который объединяет людей и&nbsp;культуры&raquo;
