section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Сложно&nbsp;ли иностранцу арендовать или купить жилье в&nbsp;России?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Без знания языка и&nbsp;местных законов&nbsp;&mdash; да. Мы&nbsp;сопровождаем вас на&nbsp;первых этапах и&nbsp;помогаем в&nbsp;сотрудничестве с&nbsp;агентствами по&nbsp;недвижимости, которые выступают вашим гарантом и&nbsp;обеспечивают легальность и&nbsp;безопасность сделки.
			details.faq__item
				summary.text.text_mid.faq__summary-title Вы&nbsp;работаете с&nbsp;инвесторами?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да. Мы&nbsp;консультируем по&nbsp;вопросам инвестиций в&nbsp;недвижимость для последующей сдачи в&nbsp;аренду или перепродажи, помогаем оценить риски и&nbsp;потенциал доходности.
