section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Помогаем с&nbsp;арендой и&nbsp;покупкой:</b> анализируем рынок, подбираем проверенные варианты, организуем просмотры, помогаем при оформлении документов.
