section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-steps-4-icon_1.svg` width="40" height="40" alt="Иконка ключа")
							p.text.difficulties__text Для иностранцев, которым нужно надежное жилье для переезда по&nbsp;РВП или ВНЖ.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-steps-4-icon_2.svg` width="40" height="40" alt="Иконка весов")
							p.text.difficulties__text Для иностранных граждан, кто хочет избежать рисков при аренде или покупке из-за незнания языка и&nbsp;законов.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-steps-4-icon_3.svg` width="40" height="40" alt="Иконка графика")
							p.text.difficulties__text Для иностранных инвесторов, рассматривающих российскую недвижимость как актив.
