section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Подбор и&nbsp;оформление недвижимости в&nbsp;РФ
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Решим вопрос с&nbsp;жильем в&nbsp;России:</b> безопасная аренда и&nbsp;покупка для иностранцев
			p.text.service-intro__text Мы&nbsp;обеспечиваем вам помощь в&nbsp;сопровождении сделок с&nbsp;недвижимостью: от&nbsp;консультаций по&nbsp;рынку и&nbsp;подбора объектов до&nbsp;помощи в&nbsp;составлении договоров с&nbsp;собственниками.
