section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Как оплатить услугу?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Вы&nbsp;выбираете услугу. Если услуга будет носить разовый характер продолжительностью 1-2&nbsp;часа, оплата производится на&nbsp;основании счета.
					p.text.faq__text Если вы&nbsp;выбираете пакет, включающий в&nbsp;себя несколько консультаций, мы&nbsp;заключаем договор. В&nbsp;любом случае, услуга оказывается после получения 100% предоплаты.
			details.faq__item
				summary.text.text_mid.faq__summary-title Как я&nbsp;могу оплатить услугу, если я&nbsp;нахожусь за&nbsp;рубежом?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Свяжитесь с&nbsp;нами, и&nbsp;мы&nbsp;подберем для вас индивидуальное решение.
			details.faq__item
				summary.text.text_mid.faq__summary-title Как проходит консультация?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Консультация проходит в&nbsp;онлайн-формате, мы&nbsp;используем платформу Яндекс.Телемост.
			details.faq__item
				summary.text.text_mid.faq__summary-title Сколько в&nbsp;среднем требуется консультаций для получения результата?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text В&nbsp;процессе карьерного консультирования мы&nbsp;даем вам инструменты для самостоятельного поиска работы, вместе готовим план действий и&nbsp;сопровождаем его реализацию.
					p.text.faq__text Каждый человек действует в&nbsp;своем темпе. В&nbsp;среднем по&nbsp;статистике требуется минимум 3-5&nbsp;консультаций.
			details.faq__item
				summary.text.text_mid.faq__summary-title Если мне не&nbsp;хватит для достижения результата приобретенного пакета консультаций, как быть?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Вы&nbsp;всегда можете оплатить дополнительные часы для консультации.
