section.section.service-details.animation(data-aos)
	.wrapper.animation__wrapper
		.service-details__container
			.service-details__difficulties
				h2.title-h4.title-h4_second.service-details__title Для кого эта услуга?
				.difficulties
					.difficulties__tabs-list
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_1.svg` width="40" height="40" alt="")
							p.text.difficulties__text У&nbsp;вас уже есть РВП/ВНЖ/Гражданство РФ&nbsp;или вы&nbsp;находитесь в&nbsp;процессе получения данного статуса, который дает вам возможность работать на&nbsp;территории&nbsp;РФ.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_2.svg` width="40" height="40" alt="")
							p.text.difficulties__text Вы&nbsp;владеете русским языком или активно его изучаете и&nbsp;чувствуете в&nbsp;себе силы пройти собеседование с&nbsp;работодателем на&nbsp;русском языке.
						.difficulties__tabs-item
							.difficulties__icon-wrapper
								img.difficulties__icon(src=`${baseDirCurImg}service-details-7-icon_3.svg` width="40" height="40" alt="")
							p.text.difficulties__text Вы&nbsp;хотите понять, как и&nbsp;где правильно искать работу в&nbsp;РФ.
