section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			ul.service-intro__list
				li.service-intro__list-item Диагностика вашей карьерной ситуации
				li.service-intro__list-item Аналитика рынка труда, подходящих для вас компаний и&nbsp;должностей, уровня заработных плат
				li.service-intro__list-item Анализ ваших компетенций, их&nbsp;оценка относительно рынка труда
				li.service-intro__list-item Подготовка «продающего» резюме
				li.service-intro__list-item Подготовка к&nbsp;собеседованию
				li.service-intro__list-item <b>Другие совместные действия, которые могут значительно увеличить вероятность получения интересного предложения о&nbsp;работе!</b>
