section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Карьерное консультирование
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Ваш ключ к&nbsp;работе в&nbsp;России!</b> Мы&nbsp;&mdash; единственная организация с&nbsp;государственной поддержкой, которая профессионально сопровождает ваш путь к&nbsp;трудоустройству. Поиск работы в&nbsp;новой стране требует времени, энергии и&nbsp;ресурсов. Доверьтесь нам&nbsp;&mdash; мы&nbsp;сократим ваши затраты, предоставим актуальную аналитику рынка труда и&nbsp;откроем доступ к&nbsp;лучшим возможностям.
