section.section.case-section.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-section__header
			h2.title-h2.case-section__title Строители из&nbsp;Германии, начинающие новую жизнь в&nbsp;России
		.case-section__grid
			.case-section__media
				picture.case-section__picture
					source(media="(max-width: 1024px)" srcset=`${baseDirCurImg}case-section-3@2x.webp`)
					img.case-section__img(src=`${baseDirCurImg}case-section-3.webp` srcset=`${baseDirCurImg}case-section-3@2x.webp 2x` width="570" height="422" alt="Мужчина и женщина разговаривают друг с другом в помещении")
			.case-section__note.glass-card
				p.text.text_mid.case-section__text Уверенно пройдя путь от&nbsp;первоначальных планов до&nbsp;получения РВП, Голембевски теперь реализуют свою конечную цель: <span>создавать уютные семейные гнезда для людей, внося вклад в&nbsp;развитие гостеприимной нижегородской земли</span>
