section.section.case-adaptation.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.case-adaptation__header
			h2.title-h2.case-adaptation__title Из&nbsp;Германии&nbsp;&mdash; в&nbsp;Нижегородскую глубинку: история новой жизни Кевина и&nbsp;Патриции
		.case-adaptation__grid
			.case-adaptation__col.case-adaptation__col_1
				p.text.text_mid.case-adaptation__lead В&nbsp;августе 2023 года Кевин и&nbsp;Патриция, которые управляли строительной компанией в&nbsp;Германии, отправились в&nbsp;путешествие на&nbsp;своем автодоме и&nbsp;посетили Нижегородскую область. Этот момент стал переломным&nbsp;&mdash; они влюбились в&nbsp;регион, его природу и&nbsp;потенциал.
				p.text.text_mid.case-adaptation__lead Весной 2024 года они пересекли границу России с&nbsp;намерением остаться навсегда. <span class="text__accent">Семья поселилась в&nbsp;Богородском районе Нижегородской области и&nbsp;начала строительство собственного дома</span>.
			.case-adaptation__col.case-adaptation__col_2
				.case-adaptation__note.glass-card
					p.text.text_mid.case-adaptation__note-title Точка&nbsp;А
					p.text.text_medium-1.case-adaptation__text Владельцы успешной строительной компании в&nbsp;Германии, ищущие радикальных перемен в&nbsp;жизни
				.case-adaptation__note-second.green-block
					p.text.text_mid.text_white.case-adaptation__note-title Точка&nbsp;Б
					p.text.text_medium-1.text_white.case-adaptation__text Активные жители России, строящие собственный дом и&nbsp;готовящиеся к&nbsp;запуску нового строительного бизнеса
