section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Гражданство РФ
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Получите российский паспорт с&nbsp;нашей помощью по&nbsp;общей или упрощенной процедуре.</b>
			p.text.service-intro__text Мы&nbsp;проводим полный юридический анализ и&nbsp;подбираем для вас самый быстрый и&nbsp;надежный путь получения гражданства&nbsp;&mdash; от&nbsp;сбора документов до&nbsp;принесения Присяги гражданина Российской Федерации.
