*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	vertical-align: top;
	text-decoration: none;
	transition: 0.3s ease-out;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	transition: 0.3s ease-out;
	cursor: pointer;
	background: transparent;
	padding: 0;
	border: none;
}

b {
	font-weight: 700;
}

img {
	vertical-align: top;
	height: auto;
	max-width: 100%;
}

div[id^="wait_comp_"] {
	display: none !important;
}

input, textarea {
	&:-webkit-autofill {
		-webkit-text-fill-color: var(--color-black);
		caret-color: var(--color-black);
	}

	&::-webkit-input-placeholder {
		transition: opacity 0.3s ease-out, color 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-moz-placeholder {
		transition: opacity 0.3s ease-out, color 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-moz-placeholder {
		transition: opacity 0.3s ease-out, color 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::-ms-input-placeholder {
		transition: opacity 0.3s ease-out, color 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&::placeholder {
		transition: opacity 0.3s ease-out, color 0.3s ease-out;
		color: var(--color-grey);
		opacity: 1;
		font-size: $font-size-second;
		line-height: 1;
	}

	&:focus {
		outline: none;

		&::-webkit-input-placeholder {
			opacity: 0;
		}
		&::-moz-placeholder {
			opacity: 0;
		}
		&:-moz-placeholder {
			opacity: 0;
		}
		&:-ms-input-placeholder {
			opacity: 0;
		}
	}
}
