.visually-hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap; /* чтобы не переносился текст */
	border: 0;
}

.text-hide {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	clip: rect(0 0 0 0);
}

.hidden {
	display: none !important;
}

.overflow-hidden {
	overflow: hidden;
	scrollbar-gutter: stable;
}
