section.section.section_last.privacy-policy.faq
	.wrapper
		.section__header
			h2.title-h2 Пользовательское соглашение
		p.text.text_mid.privacy-policy__prev-text
			b Политика конфиденциальности персональных данных Пользователей сайта Автономной некоммерческой организации &laquo;Областное&nbsp;кадровое агентство&raquo;
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 1
					p.text.privacy-policy__summary-title Термины и&nbsp;определения
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 1.1
						.privacy-policy__text-wrapper
							p.text.faq__text Пользователь (Пользователи)&nbsp;&mdash; пользователь Сайта, дееспособное совершеннолетнее физическое лицо.
						p.text.privacy-policy__number 1.2
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор&nbsp;&mdash; Автономная некоммерческая организация &laquo;Областное кадровое агентство&raquo; (АНО &laquo;ОКА&raquo;) ИНН 5260482877, ОГРН 1225200011981.
						p.text.privacy-policy__number 1.3
						.privacy-policy__text-wrapper
							p.text.faq__text Сайт&nbsp;&mdash; <a class="link" href="https://oka-agency.com/">https://oka-agency.com/</a>.
						p.text.privacy-policy__number 1.4
						.privacy-policy__text-wrapper
							p.text.faq__text Соглашение&nbsp;&mdash; настоящее Пользовательское соглашение.
						p.text.privacy-policy__number 1.5
						.privacy-policy__text-wrapper
							p.text.faq__text Контент Сайта&nbsp;&mdash; информация, объекты интеллектуальной собственности, размещенные на&nbsp;Сайте.
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 2
					p.text.privacy-policy__summary-title Предмет Соглашения
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 2.1
						.privacy-policy__text-wrapper
							p.text.faq__text Предметом Соглашения является предоставление Пользователю услуг по&nbsp;использованию Сайта.
						p.text.privacy-policy__number 2.2
						.privacy-policy__text-wrapper
							p.text.faq__text Под действие Соглашения подпадают все существующие (реально функционирующие) на&nbsp;данный момент услуги (сервисы) Сайта, а&nbsp;также любые их&nbsp;последующие модификации и&nbsp;появляющиеся в&nbsp;дальнейшем дополнительные услуги (сервисы) Сайта.
						p.text.privacy-policy__number 2.3
						.privacy-policy__text-wrapper
							p.text.faq__text Доступ к&nbsp;Сайту и&nbsp;его использование предоставляется на&nbsp;безвозмездной основе.
						p.text.privacy-policy__number 2.4
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор не&nbsp;принимает встречные предложения от&nbsp;Пользователя относительно изменений Соглашения.
						p.text.privacy-policy__number 2.5
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор вправе переуступать либо каким-либо иным способом передавать свои права и&nbsp;обязанности, вытекающие из&nbsp;его отношений с&nbsp;Пользователем в&nbsp;связи с&nbsp;заключением, исполнением, изменением и&nbsp;прекращением Соглашения.
						p.text.privacy-policy__number 2.6
						.privacy-policy__text-wrapper
							p.text.faq__text Использование материалов и&nbsp;сервисов Сайта регулируется нормами действующего законодательства&nbsp;РФ.
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 3
					p.text.privacy-policy__summary-title Принятие условий Соглашения
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 3.1
						.privacy-policy__text-wrapper
							p.text.faq__text Соглашение является публичной офертой. Пользователь принимает условия настоящего Соглашения путем нажатия кнопки &laquo;Отправить&raquo;, &laquo;Подписаться&raquo;, &laquo;Зарегистрироваться&raquo; или &laquo;Нажимая на&nbsp;кнопку, я&nbsp;принимаю Пользовательское соглашение&raquo; (или аналогичных) на&nbsp;Сайте после заполнения необходимых полей, что означает ознакомление Пользователя с&nbsp;настоящим Соглашением и&nbsp;принятие всех условий Соглашения. С&nbsp;этого момента Соглашение считается заключенным путем акцепта Пользователем оферты Оператора своими конклюдентными действиями.
						p.text.privacy-policy__number 3.2
						.privacy-policy__text-wrapper
							p.text.faq__text Если Пользователь не&nbsp;согласен с&nbsp;условиями Соглашения, то&nbsp;он&nbsp;должен не&nbsp;получать (прекратить) доступ к&nbsp;Сайту и&nbsp;не&nbsp;использовать Сайт, а&nbsp;также не&nbsp;размещать и&nbsp;не&nbsp;предоставлять какие-либо материалы (информация, файлы) с&nbsp;использованием Сайта.
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 4
					p.text.privacy-policy__summary-title Условия использования информации и&nbsp;услуг, размещенных на&nbsp;Сайте
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 4.1
						.privacy-policy__text-wrapper
							p.text.faq__text Информационные материалы, размещенные на&nbsp;Сайте, в&nbsp;том числе касающиеся миграционного законодательства Российской Федерации, предоставляются Пользователю исключительно в&nbsp;ознакомительных целях, носят справочный характер и&nbsp;не&nbsp;являются юридической консультацией.
							p.text.faq__text Пользователь настоящим уведомлен и&nbsp;соглашается с&nbsp;тем, что в&nbsp;связи с&nbsp;высокой динамикой изменений в&nbsp;указанной сфере, предоставляемая информация может не&nbsp;являться исчерпывающей, актуальной и/или полностью соответствующей действующему законодательству на&nbsp;момент ее&nbsp;использования Пользователем.
							p.text.faq__text Оператор не&nbsp;предоставляет никаких заверений и&nbsp;не&nbsp;несет ответственности за&nbsp;вред, связанный с&nbsp;точностью, полнотой или актуальностью информации на&nbsp;Сайте, а&nbsp;также последствия, прямо или косвенно относящиеся к&nbsp;какому-либо действию или бездействию, которое Пользователь осуществляет на&nbsp;основании информации, услуг или иного материала на&nbsp;Сайте
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 5
					p.text.privacy-policy__summary-title Использование Сайта
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 5.1
						.privacy-policy__text-wrapper
							p.text.faq__text Пользователь может и&nbsp;обязуется осуществлять пользование Сайтом, использовать Контент Сайта исключительно в&nbsp;соответствии с&nbsp;условиями и&nbsp;положениями настоящего Соглашения.
						p.text.privacy-policy__number 5.2
						.privacy-policy__text-wrapper
							p.text.faq__text Пользование Сайтом, использование Контента Сайта допускается исключительно в&nbsp;информационных целях.
						p.text.privacy-policy__number 5.3
						.privacy-policy__text-wrapper
							p.text.faq__text При оформлении заявок с&nbsp;использованием форм обратной связи на&nbsp;Сайте, Пользователь:
						p.text.privacy-policy__number 5.3.1
						.privacy-policy__text-wrapper
							p.text.faq__text Гарантирует достоверность предоставленных контактных и&nbsp;иных данных.
						p.text.privacy-policy__number 5.3.2
						.privacy-policy__text-wrapper
							p.text.faq__text Дает своё информированное и&nbsp;безусловное согласие на&nbsp;обработку своих персональных данных в&nbsp;порядке и&nbsp;целях, определенных Политикой конфиденциальности Сайта.
						p.text.privacy-policy__number 5.3.3
						.privacy-policy__text-wrapper
							p.text.faq__text Подтверждает свою заинтересованность в&nbsp;получении информации, консультации или услуги, при этом такая отправка заявки не&nbsp;признается офертой и&nbsp;не&nbsp;влечет автоматического заключения договора.
						p.text.privacy-policy__number 5.4
						.privacy-policy__text-wrapper
							p.text.faq__text Пользователь соглашается, что Сайт является собственностью Оператора, включая все относящиеся к&nbsp;нему права интеллектуальной собственности, и&nbsp;что Пользователь не&nbsp;вправе использовать их&nbsp;иным образом, нежели указано в&nbsp;Соглашении.
						p.text.privacy-policy__number 5.5
						.privacy-policy__text-wrapper
							p.text.faq__text Пользователю запрещено:
							p.text.faq__text &mdash;&nbsp;создавать &laquo;inlining or&nbsp;embedded links&raquo; (встроенные ссылки), позволяющие отображать определенную информацию, Контент Сайта, и/или иные объекты интеллектуальной собственности с&nbsp;Сайта на&nbsp;любом другом сайте (в&nbsp;том числе, на&nbsp;собственном сайте Пользователя) посредством embed, а&nbsp;также фреймы (frames), являющиеся специальным окном веб-браузера для представления внешнего сайта;
							p.text.faq__text &mdash;&nbsp;создавать любые гиперссылки (включая &laquo;inlining or&nbsp;embedded links&raquo;) на&nbsp;материалы Сайта, Контент Сайта;
							p.text.faq__text &mdash;&nbsp;совершать какие-либо противоправные действия в&nbsp;отношении Сайта, Контента Сайта, Оператора;
							p.text.faq__text &mdash;&nbsp;предоставлять недостоверную информацию, информацию, не&nbsp;относящуюся к&nbsp;Пользователю, при пользовании Сайтом;
							p.text.faq__text &mdash;&nbsp;продавать, переуступать, давать в&nbsp;пользование и&nbsp;аренду, распространять, передавать или иным образом предоставлять права на&nbsp;использование Контента Сайта третьим лицам;
							p.text.faq__text &mdash;&nbsp;осуществлять модификацию&nbsp;/ изменения, усовершенствование, перевод на&nbsp;другие языки, создавать производные произведения, основанные на&nbsp;/ включающие Контент Сайта, осуществлять декомпилирование, дизассемблирование, декодирование, эмуляцию, нарушать целостность, восстанавливать исходный код Контента Оператора или каких-либо его частей
							p.text.faq__text &mdash;&nbsp;осуществлять любую рассылку (в&nbsp;том числе, массовую) и/или каким-либо иным способом доводить Контент Сайта до&nbsp;всеобщего сведения, в&nbsp;том числе посредством гиперссылок;
							p.text.faq__text &mdash;&nbsp;использовать Контент Сайта в&nbsp;составе коммерческих продуктов, для предложения коммерческих продуктов или услуг третьим лицам или в&nbsp;иных коммерческих целях;
							p.text.faq__text &mdash;&nbsp;использовать Контент Сайта для нарушения прав третьих лиц, а&nbsp;также целей, противоречащих действующему законодательству и&nbsp;настоящему Соглашению.
						p.text.privacy-policy__number 5.6
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор не&nbsp;несет ответственности за&nbsp;вред, причинённый Пользователю в&nbsp;связи с&nbsp;использованием Сайта в&nbsp;коммерческих или иных целях, не&nbsp;предусмотренных Соглашением.
						p.text.privacy-policy__number 5.7
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор оставляет за&nbsp;собой право на&nbsp;отказ в&nbsp;предоставлении доступа к&nbsp;Сайту или его прекращение по&nbsp;своему усмотрению.
						p.text.privacy-policy__number 5.8
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор не&nbsp;гарантирует доступность Сайта и&nbsp;бесперебойность его работы в&nbsp;любой момент времени.
						p.text.privacy-policy__number 5.9
						.privacy-policy__text-wrapper
							p.text.faq__text Сайт предоставляется бесплатно при условии, что Оператор не&nbsp;обязан оказывать какие-либо услуги по&nbsp;техническому обслуживанию или поддержке Сайта, и&nbsp;не&nbsp;несет какой-либо ответственности за&nbsp;вред, который Пользователь может понести в&nbsp;результате неосуществления технического обслуживания или обновления Сайта.
						p.text.privacy-policy__number 5.10
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор вправе запретить доступ к&nbsp;контенту Сайта в&nbsp;случае нарушения Пользователем условий Соглашения или условий иных документов, предусмотренных Соглашением.
						p.text.privacy-policy__number 5.11
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор Сайта вправе устанавливать ограничения в&nbsp;использовании Сайта для всех Пользователей, либо для отдельных Пользователей.
						p.text.privacy-policy__number 5.12
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор оставляет за&nbsp;собой все права, которые не&nbsp;представляются Пользователю явным образом.
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 6
					p.text.privacy-policy__summary-title Конфиденциальность и&nbsp;обработка персональных данных
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 6.1
						.privacy-policy__text-wrapper
							p.text.faq__text Порядок обработки и&nbsp;защиты сведений о&nbsp;Пользователе, которые могут быть получены в&nbsp;результате совершения доступа к&nbsp;Сайту (посещение Сайта) и&nbsp;(или) иных действий по&nbsp;использованию функционала Сайта, регулируется Политикой конфиденциальности персональных данных Пользователей сайта Автономной некоммерческой организации &laquo;Областное кадровое агентство&raquo;.
						p.text.privacy-policy__number 6.2
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор осуществляет автоматизированную, а&nbsp;также без использования средств автоматизации обработку персональных данных Пользователя, указанных в&nbsp;настоящем Соглашении и&nbsp;предлагаемых к&nbsp;заполнению на&nbsp;Сайтах, с&nbsp;целью исполнения настоящего Соглашения.
							p.text.faq__text Оператор получает персональные данные непосредственно от&nbsp;Пользователя.
						p.text.privacy-policy__number 6.3
						.privacy-policy__text-wrapper
							p.text.faq__text Обработка персональных данных Пользователей включает в&nbsp;себя: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение и&nbsp;ограничивается достижением цели обработки.
						p.text.privacy-policy__number 6.4
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор обеспечивает конфиденциальность и&nbsp;защиту персональных данных в&nbsp;соответствии с&nbsp;требованиями Федерального закона от&nbsp;27.07.2006 &#8470; 152-ФЗ &laquo;О&nbsp;персональных данных&raquo;.
						p.text.privacy-policy__number 6.5
						.privacy-policy__text-wrapper
							p.text.faq__text Обработка персональных данных осуществляется в&nbsp;течение срока действия согласия субъекта персональных данных.
						p.text.privacy-policy__number 6.6
						.privacy-policy__text-wrapper
							p.text.faq__text При обработке персональных данных Оператор принимает необходимые правовые, организационные и&nbsp;технические меры для защиты полученных от&nbsp;Пользователя персональных данных от&nbsp;неправомерного или случайного доступа к&nbsp;ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а&nbsp;также от&nbsp;иных неправомерных действий в&nbsp;отношении полученных персональных данных.
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 7
					p.text.privacy-policy__summary-title Ответственность Оператора
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 7.1
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор не&nbsp;несет ответственности за&nbsp;невозможность осуществлять пользование Сайтом и&nbsp;использование размещенной на&nbsp;нем информации.
						p.text.privacy-policy__number 7.2
						.privacy-policy__text-wrapper
							p.text.faq__text Ни&nbsp;при каких условиях Оператор не&nbsp;несет ответственности перед Пользователем (и&nbsp;какими-либо третьими лицами) за&nbsp;убытки, включая любые прямые, косвенные, умышленные, случайные или последующие убытки любого характера проистекающие из&nbsp;данного Соглашения и/или из&nbsp;пользования Сайтом или невозможности осуществить пользование Сайта (включая, но, не&nbsp;ограничиваясь убытками, возникшими в&nbsp;результате потери деловой репутации, прекращения работы, технического сбоя, аварии или неисправности или любых убытков, издержек или потерь, а&nbsp;равно упущенной выгоды или неосновательного обогащения).
			details.faq__item
				summary.text.text_mid.faq__summary-title.privacy-policy__header
					p.text.privacy-policy__number 8
					p.text.privacy-policy__summary-title Заключительные положения
					span.faq__btn-toggler
				.faq__answer.privacy-policy__answer
					.privacy-policy__header.privacy-policy__header_answer
						p.text.privacy-policy__number 8.1
						.privacy-policy__text-wrapper
							p.text.faq__text Заключая настоящее Соглашение, Пользователь подтверждает, что имеет все необходимые права на&nbsp;его заключение.
						p.text.privacy-policy__number 8.2
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор вправе вносить изменения в&nbsp;настоящее Соглашение, о&nbsp;чем Оператор уведомляет Пользователя. Пользователь вправе отказаться от&nbsp;принятия изменений, в&nbsp;таком случае Соглашение считается прекращенным.
						p.text.privacy-policy__number 8.3
						.privacy-policy__text-wrapper
							p.text.faq__text Оператор вправе в&nbsp;одностороннем внесудебном порядке прекратить действие настоящего Соглашения путем уведомления Пользователя на&nbsp;Сайте или иными способами.
						p.text.privacy-policy__number 8.4
						.privacy-policy__text-wrapper
							p.text.faq__text Функционал и&nbsp;функциональные возможности Сайта, материалы и&nbsp;информация, размещенные на&nbsp;Сайте, а&nbsp;также Личный кабинет и&nbsp;Контент Сайта предоставляются на&nbsp;условиях &laquo;как есть&raquo; (as&nbsp;is). Оператор не&nbsp;предоставляет никаких гарантий в&nbsp;отношении соответствия всего вышеизложенного конкретным целям и&nbsp;ожиданиям Пользователя, а&nbsp;также не&nbsp;предоставляет никаких иных гарантий, прямо не&nbsp;указанных в&nbsp;Соглашении.
						p.text.privacy-policy__number 8.5
						.privacy-policy__text-wrapper
							p.text.faq__text Для пользования Сайтом Пользователю необходимо обеспечить надлежащее качество доступа к&nbsp;сети &laquo;Интернет&raquo; на&nbsp;своем устройстве.
						p.text.privacy-policy__number 8.6
						.privacy-policy__text-wrapper
							p.text.faq__text Пользователь несет полную ответственность за&nbsp;любые действия, совершаемые им&nbsp;на&nbsp;Сайте, а&nbsp;также за&nbsp;любую информацию и&nbsp;данные, которые он&nbsp;загружает на&nbsp;Сайт.
						p.text.privacy-policy__number 8.7
						.privacy-policy__text-wrapper
							p.text.faq__text Отношения Пользователя и&nbsp;Оператора в&nbsp;связи с&nbsp;настоящим Соглашением регулируются законодательством Российской Федерации.
						p.text.privacy-policy__number 8.8
						.privacy-policy__text-wrapper
							p.text.faq__text Все споры, разногласия и&nbsp;претензии, которые могут возникнуть в&nbsp;связи с&nbsp;исполнением, расторжением или признанием недействительным Соглашения, Пользователь и&nbsp;Оператор будут стремиться решить путем переговоров с&nbsp;соблюдением обязательного претензионного порядка. Срок для досудебного урегулирования претензий составляет&nbsp;30 (тридцать) календарных дней с&nbsp;момента получения соответствующей претензии. Если возникшие споры не&nbsp;представляется возможным решить путем переговоров, они будут разрешаться в&nbsp;судебном порядке в&nbsp;соответствии с&nbsp;законодательством Российской Федерации по&nbsp;месту нахождения Оператора. Настоящим Оператор оставляет за&nbsp;собой право не&nbsp;применять в&nbsp;обязательном порядке претензионный порядок разрешения споров, а&nbsp;сразу обращаться в&nbsp;суд.
