section.section.lead-section.lead-section-about.animation(data-aos)
	.lead-section__section-green.animation__wrapper
		.wrapper
			.lead-section__wrapper
				.lead-section__text-container
					h2.title-h2.title-h2_white.lead-section__header-title Получить консультацию
					p.text.text_white.lead-section__text Получите бесплатную <span>15-минутную онлайн консультацию</span> специалиста отдела консьержа по&nbsp;вашей задаче!
					.lead-section__action
						a.btn.btn_white-second.lead-section__btn(href=`${langPrefix}/request-form/`)
							span Заполнить заявку
						p.text.text_white.text_second.lead-section__note Гарантируем вам 100% конфиденциальности личных данных
				.lead-section__image-container
					img.lead-section__image(width="470" height="437" src=`${baseDirImg}lead-section-1.webp` srcset=`${baseDirImg}lead-section-1@2x.webp` alt="Девушка с ноутбуком")
					.lead-section__bubble
						p.text.text_second.lead-section__bubble-text
							| Подача заявки <span>займёт всего пару минут.</span>
