section.section.section_last.faq
	.wrapper.faq__wrapper
		.section__header
			h2.title-h4.title-h4_second Ответы на&nbsp;частые вопросы (FAQ)
		.faq__list
			details.faq__item
				summary.text.text_mid.faq__summary-title Вы помогаете открыть ИП иностранцу?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Да, это одно из&nbsp;наших ключевых направлений. Мы&nbsp;полностью сопровождаем процесс: от&nbsp;подбора кодов ОКВЭД и&nbsp;системы налогообложения до&nbsp;подачи документов в&nbsp;налоговую и&nbsp;открытия расчетного счета.
			details.faq__item
				summary.text.text_mid.faq__summary-title На каких языках оказываются консультации?
					span.faq__btn-toggler
				.faq__answer
					p.text.faq__text Консультации доступны на&nbsp;русском, английском и&nbsp;немецком языках.
