section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h2 Юридическое консультирование для иностранцев
		.service-intro__text-wrapper
			p.text.service-intro__text Решите любой юридический вопрос в&nbsp;России с&nbsp;экспертом по&nbsp;праву для иностранцев!
			p.text.service-intro__text <b>Полное юридическое сопровождение иностранных граждан и&nbsp;предпринимателей:</b> от&nbsp;консультаций по&nbsp;миграционному, семейному и&nbsp;трудовому праву до&nbsp;регистрации бизнеса и&nbsp;решения сложных судебных споров.
