section.section.service-intro.animation(data-aos)
	.wrapper.animation__wrapper
		.section__header.service-intro__header
			h2.title-h4.title-h4_second.service-intro__title-h4 Что включено?
		.service-intro__text-wrapper
			p.text.service-intro__text <b>Экспертиза во&nbsp;всех сферах права:</b> консультируем по&nbsp;миграционному, гражданскому, налоговому, семейному, трудовому и&nbsp;наследственному праву.
